<%= form_for(@ad) do |f| %>
  
  <% currently_at 'myStuff' %>

  <div style="text-align:center;font-size:.8em"><%= @title %></div>
  <div class="title">
    <% unless @ad.building_id %>
      <%= truncate(@building.address, :size => '20', :separator => ',', :omission => '') %>
    <% else %>
      <%= truncate(@ad.building.address, :size => '20', :separator => ',', :omission => '') %>
    <% end %>
    </div>
  <hr/>

  <table width="100%">
    <tr>
      <td><div class="field"><%= f.label "Title" %></div></td>
      <td><%= f.select( :title, [["Select One..."],"Exclusively Offered By", "Get More Information", "Property Managed By", "Alternative Property", "Willing to Sublet"], {}, {:class => "field"}) %></td>
    </tr>
    <tr>
      <td style="vertical-align:top"><div class="field"><%= f.label "Description" %></div></td>
      <td><%= f.text_area :message, :class => 'field', :size => '50x5' %></td>
    </tr>
  </table>

<% unless @ad.building_id %>
  <%= hidden_field_tag "back_to", building_path(@building) %>
  <%= f.hidden_field :slot, :value => @slot %>
  <%= f.hidden_field :building_id, :value => @building.id %>
  <%= f.hidden_field :user_id, :value => @user.id %>
<% end %>

  <%= f.submit "Submit", :class => 'button' %>

<% end %>