<% if @ad_slot2 %>
	<table width="100%" height="100%" style="border:1px solid #888888">
		<tr height="15px" style="vertical-align:top">
			<td colspan="2" style="font-size:.8em;vertical-align:middle;text-align:center;text-transform:uppercase;padding:5px;background:#333333;color:#ffffff;letter-spacing:2px"><%= @ad_slot2.title %></td>
		</tr>
		<tr height="20px" style="vertical-align:top">
			<td colspan="2" style="padding:8px;font-weight:bold;padding:5px;text-transform:uppercase;letter-spacing:3px"><%= link_to @ad_slot2.user.name, user_path(@ad_slot2.user_id) %></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:center;padding:0 5px">"<%= @ad_slot2.message %>"</td>
		</tr>
		<tr height="15px" style="vertical-align:bottom">
			<td colspan="2" style="padding:8px;font-size:1.25em;font-weight:bold"><%= @ad_slot2.user.phone %></td>
		</tr>
		<% if user_signed_in? && @ad_slot2.user_id == current_user.id %>
		<tr>
			<td width="50%" style="border-right:1px solid #888888"><%= link_to 'Edit', edit_ad_path(@ad_slot2.id) %></td>
			<td><%= link_to 'Remove', @ad_slot2, :method => :delete, :confirm => "Are You Sure?" %></td>
		</tr>
		<% end %>
	</table>
	
<% else %>
	<% if user_signed_in? %>
		<% if @user_ad_availability %>
		This is blank, but you've used your ad allotment for this building
		<% elsif @user.upgrade %>
		<%= link_to 'Available (click)', new_ad_path(:bid => @building.id,:s => '2') %>
		<% else %>
		<%= link_to 'Your Name or Property Advertised Here', upgrade_path %>
		<% end %>
	<% else %>
	Premium members can shamelessly advertise how great they are here.  <%= link_to 'Click here to become a member first.', new_user_registration_path %>
	<% end %>

<% end %>