<%= form_for ([@building,@space]) do |f| %>

<%= content_for :search do %>
  <% if notice %>
    <p class="notification notice">
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="notification alert">
      <%= alert %>
    </p>
  <% end %>
<% end %>

<div class="form_box">
<table width="100%">
  <tr>
    <td width="45%"><%= f.label :suite %></td>
    <td><%= f.number_field :suite, :class => 'field' %></td>
  </tr>
  <tr>
    <td><%= f.label :sf %></td>
    <td><%= f.number_field :sf, :class => 'field' %></td>
  </tr>
  <tr>
    <td><%= f.label :monthly %></td>
    <td><%= f.number_field :monthly, :class => 'field', :precision => '2' %></td>
  </tr>
  <tr>
    <td><%= f.label :company %></td>
    <td><%= f.text_field :company, :class => 'field' %></td>
  </tr>
  <tr>
    <td><%= f.label :status %></td>
    <td><%= f.select( :status, ["Available","Leased","Possible"], {}, {:class => "field"}) %></td>
  </tr>
  <tr>
    <td><%= f.label '3D Floorplan URL' %></td>
    <td><%= f.text_field :_3dplanurl, :class => 'field', :title => 'If you have a 3d floorplan url, enter it here' %></td>
  </tr>
  <tr>
    <td><%= f.label 'YouTube Video URL' %></td>
    <td><%= f.text_field :videourl, :class => 'field', :title => 'Only the last part where the numbers and letters are', :placeholder => 'x8JmfiwOz <---just that part' %></td>
  </tr>
  <tr>
    <td/><td style="padding-left:15px;font-size:.9em"><%= link_to 'Learn more about 3D plans', 'http://www.propertizing.com', :target => '_blank' %></td>
  </tr>
  <tr><td colspan="2"><hr/></td></tr>

  <tr>
    <td colspan="2" style="text-align:center"><%= f.submit 'Update Space', :class => 'button' %></td>
  </tr>
</table>
</div>
<% end %>
