<%= form_for ([@building,@space]) do |f| %>

  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @space.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :suite %><br />
    <%= f.number_field :suite %>
  </div>

  <div class="field">
    <%= f.label :sf %><br />
    <%= f.number_field :sf %>
  </div>

  <div class="field">
    <%= f.label :Monthly %><br />
    <%= f.number_field :monthly %>
  </div>

  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :status %><br/>
    <%= f.select :status, options_for_select([["Available", "Available"], ["Leased", "Leased"], ["Possible", "Possible"]]) %>
  </div>

  <div class='field'>
    <%= f.label "3D Floorplan" %>
    <%= f.text_field :_3dplanurl %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
