<% currently_at 'Spaces' %>

<table>
	<tr>
		<td style="text-align:center">
			<%= link_to 'Go Back to the Space', building_space_path %> |
			<%= link_to 'Go Back to the Building', building_path %>
		</td>
	</tr>
	<tr>
		<td class="title">Edit<br/> <%= truncate(@building.address, :size => 1, :separator => ',', :omission => '') %> Number <%= @space.suite %></td>
	</tr>
</table>

<hr/>

<%= render 'form' %>

