<h1>Listing spaces</h1>

<table>
  <tr>
    <th>3D Plan</th>
    <th>Suite</th>
    <th>Company</th>
    <th>Sf</th>
    <th>Monthly Total</th>
    <th>Est Rate</th>
    <th>Status?</th>
    <th></th>
  </tr>

<% @spaces.each do |space| %>
  <tr>
    <td><% if space._3dplanurl? %>Yes<% else %>No<% end %></td>
    <td><%= link_to space.suite, building_space_path(@building,space) %></td>
    <td><%= space.company %>
    <td><%= number_with_delimiter(space.sf) %></td>
    <td><%= number_to_currency(space.monthly) %></td>
    <% if space.monthly? && space.sf? %>
    <td><%= number_to_currency(space.monthly/space.sf) %></td>
    <% end %>
    <td><%= space.status %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Space', new_building_space_path %>
