<h1>Listing spaces</h1>

<table>
  <tr>
    <th>Space</th>
    <th>Suite</th>
    <th>Sf</th>
    <th>Monthly Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spaces.each do |space| %>
  <tr>
    <td><%= space.id %></td>
    <td><%= link_to space.suite, building_space_path(@building,space) %></td>
    <td><%= space.sf %></td>
    <td><%= space.monthly %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Space', new_building_space_path %>
