<h1>Listing spaces</h1>

<table>
  <tr>
    <th>Space</th>
    <th>Suite</th>
    <th>Sf</th>
    <th>Monthly Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spaces.each do |space| %>
  <tr>
    <td><%= space.id %></td>
    <td><%= space.suite %></td>
    <td><%= space.sf %></td>
    <td><%= space.monthly %></td>
    <td><%= link_to 'Show', building_space_path %></td>
    <td><%= link_to 'Edit', edit_building_space_path(space) %></td>
    <td><%= link_to 'Destroy', building_space_path, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Space', new_building_space_path %>
