<p id="notice"><%= notice %></p>
<table>
	<tr>
		<td width="600px" valign=top >
		<% if user_signed_in? %>
		<h3>Add a comment about this space:</h3>
			<%= render '/shared/micropost_form' %>
		<% end %>
		<% unless @space.microposts.empty? %>
			<%= render 'shared/feed' %>
		<% end %>
	</td>

<p>
  <b>Status:</b>
  <%= @space.status %>
</p>

<p>
  <b>Suite:</b>
  <%= @space.suite %>
</p>

<p>
  <b>Company:</b>
  <%= @space.company %>
</p>

<p>
  <b>Sf:</b>
  <%= @space.sf %>
</p>

<p>
  <b>Monthly:</b>
  <%= number_to_currency(@space.monthly) %>
</p>

<p>
  <b>Rate:</b>
  <%= number_to_currency(@space.monthly/@space.sf) %>
</p>

<p>
  <iframe frameborder="0" height="400" scrolling="no" src="http://edkinsgroup.floorplanner.com/111woodmere100/embed" width="100%"></iframe>
</p>

<%= link_to 'New Lease', new_lease_path(@space,@lease) %> |
<%= link_to 'Edit', edit_building_space_path(@building,@space) %> |
<%= link_to 'Back', building_path(@building) %>
