<p id="notice"><%= notice %></p>

<p>
  <b>Suite:</b>
  <%= @space.suite %>
</p>

<p>
  <b>Sf:</b>
  <%= @space.sf %>
</p>

<p>
  <b>Monthly Cost:</b>
  <%= @space.monthly %>
</p>

<%= link_to 'New Lease', new_space_lease_path(@space,@lease) %> |
<%= link_to 'Edit', edit_building_space_path(@building,@space) %> |
<%= link_to 'Back', building_path(@building) %>
