<% currently_at 'Spaces' %>

  <table width="100%">
    <tr>
      <td><%= button_to 'Track This Space', '', :class => 'button' %></td>
      <td style="text-align:right">
        <% if user_signed_in? && @space.user_id == current_user.id %>
          <%= link_to 'Add New Lease', new_space_lease_path(@space) %> |
          <%= link_to 'Edit Stats', edit_building_space_path(@building,@space) %>
          <% end %>  

        <%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "30x30", :alt => "Twitter"), "http://twitter.com/home?status=Saw this on Trackingspace: http://#{request.host+request.fullpath}", :target => '_blank' %>
        <%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "30x30"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank' %>
    </td>   
      </td>
    </tr>
    <tr>
      <td class="title" colspan="2">Suite <%= @space.suite %></td>
    </tr>
    <tr>
      <td style="text-align:center" colspan="2"><%= link_to @space.building.address, building_path(@space.building.id) %></td>
  </table>
  <hr/>
      <table>
        <tr>
          <td >
            <div class="top_words">
              <%= number_with_delimiter(@space.sf) %> sq.ft.
            </div>
          </td>
          <td >
            <div class="top_words">
              <%= number_to_currency(@space.monthly) %>
            </div>
          </td>
          <td >
            <div class="top_words">
              <%= @space.microposts.count %>
            </div>
          </td>
          <td >
            <div class="top_words">
              <% if @leases.empty? %>No
              <% else %>Yes
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td width="25%" style="font-size:0.8em;text-align:center">Size</td>
          <td width="15%" style="font-size:0.8em;text-align:center">Monthly</td>
          <td width="15%" style="font-size:0.8em;text-align:center">Activity</td>
          <td width="15%" style="font-size:0.8em;text-align:center">Lease on Record</td>
        </tr>
      </table>
      <hr/>
<table width="100%">
  <tr>
    <td class="building_contact_ads"><%= render 'ads/space_slot1' %></td>
    <td class="building_contact_ads"><%= render 'ads/space_slot2' %></td>
    <td class="building_contact_ads"><%= render 'ads/space_slot3' %></td>
  </tr>
  <table width="100%">
    <tr>
      <td height="10px"/>
    </tr>
    <tr>
      <% if user_signed_in? %>
        <td>
          <%= render '/shared/micropost_form' %>
        </td>
      <% else %>
        <td width="100%" style="text-align:center"><%= link_to 'Sign-In to Start Tracking, Add Comments and Share', new_user_session_path %></td>
      <% end %>
    </tr>
  </table>
  <hr/>
	<tr>
		<td width="600px" valign=top >
  		
  		<% unless @space.microposts.empty? %>
  			<%= render 'shared/feed' %>
  		<% end %>
    </td>
  </tr>
</table>

<%= content_for :sidebar do %>
  <table width="100%" height="200px" style="background:#ffffff">
    <tr>
      <td style="vertical-align:middle;text-align:center;padding:20px">Looks like we could use a video here...<p/><%= link_to 'Click here to save us all and add one - please keep it clean', '' %></td>
    </tr>
  </table>

<% end %>

