<% currently_at 'Spaces' %>

  <table width="100%">
    <tr>
      <td style="text-align:center">
        <% if user_signed_in? %>
          <%= link_to 'New Lease', new_space_lease_path(@space) %> |
          <%= link_to 'Edit Stats', edit_building_space_path(@building,@space) %>
          <% end %>     
      </td>
    </tr>
    <tr>
      <td class="title">Suite <%= @space.suite %></td>
    </tr>
    <tr>
      <td style="text-align:center"><%= link_to @space.building.address, building_path(@space.building.id) %></td>
  </table>
  <hr/>
      <table>
        <tr>
          <td >
            <div class="top_words">
              <%= number_with_delimiter(@space.sf) %> sq.ft.
            </div>
          </td>
          <td >
            <div class="top_words">
              <%= number_to_currency(@space.monthly) %>
            </div>
          </td>
          <td >
            <div class="top_words">
              <%= @space.microposts.count %>
            </div>
          </td>
          <td >
            <div class="top_words">
              <% if @leases.empty? %>No
              <% else %>Yes
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td width="25%" style="font-size:0.8em;text-align:center">Size</td>
          <td width="15%" style="font-size:0.8em;text-align:center">Monthly</td>
          <td width="15%" style="font-size:0.8em;text-align:center">Activity</td>
          <td width="15%" style="font-size:0.8em;text-align:center">Lease on Record</td>
        </tr>
      </table>
      <hr/>
      <table width="100%">
        <tr>
          <td class="add"><%= link_to 'Start Tracking', '' %></td>
        </tr>
      </table>
<table width="100%">
  <tr>
    <td style="text-align:center;height:200px;background:#FEF1B5;padding:100px;border:1px solid #888">
      <% if @space._3dplanurl? %>
        <iframe frameborder="0" height="400" scrolling="no" src="<%= @space._3dplanurl %>" width="100%"></iframe>
        <% else %>
        Looks like we could use a picture, video, 3D floorplan...heck anything would be better than this!
        <%= link_to 'Click here to add a 3D floorplan of the space', 'http://www.propertizing.com', :target => '_blank' %>
      <% end %>
    </td>
  </tr>
  <table width="100%">
    <tr>
      <% if user_signed_in? %>
        <td>
          <%= render '/shared/micropost_form' %>
        </td>
      <% else %>
        <td width="100%" style="text-align:center"><%= link_to 'Sign-In to Start Tracking, Add Comments and Share', new_user_session_path %></td>
      <% end %>
    </tr>
  </table>
  <hr/>
	<tr>
		<td width="600px" valign=top >
  		
  		<% unless @space.microposts.empty? %>
  			<%= render 'shared/feed' %>
  		<% end %>
    </td>
  </tr>
</table>

<%= content_for :sidebar do %>
  <table width="100%" height="200px" style="background:#ffffff">
    <tr>
      <td style="vertical-align:middle;text-align:center;padding:20px">Looks like we could use a video here...<p/><%= link_to 'Click here to save us all and add one - please keep it clean', '' %></td>
    </tr>
  </table>

<% end %>

