<p id="notice"><%= notice %></p>

<p>
  <b>Sf:</b>
  <%= @space.sf %>
</p>

<p>
  <b>Rate:</b>
  <%= @space.rate %>
</p>


<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
