<div class="bluebox">

	<div class="boxtitle">myLEASES</div>
	<% if @leases.present? %>

		<% @leases.each do |m| %>

		<div style="text-transform:uppercase;font-size:.85em;text-align:left;padding-left:4px;height:20px;background:#efefef">
			<%= link_to truncate(m.space.building.address, :size => '2', :separator => ',', :omission => ''), building_path(m.space.building_id), :class => 'list_title', :title => 'Click to see the Building' %>, <%= link_to m.space.suite, building_space_path(m.space.building.id,m.space.id), :class => 'list_title', :title => 'Click to see the Space' %>
		</div>
		
		<% if Date.today > m.expiration-90.days or m.expiration < Date.today %>
			<div style="font-size:.85em;padding-left:4px;text-align:center;color:red;text-transform:italic">
				<%= link_to 'View', space_lease_path(m.space,m), :title => "#{m.space.company}" %> | <%= m.size %>sf | $<%= m.current_rate %>/mo | exp: <%= m.expiration %>
			</div>
		<% else %>
			<div style="font-size:.85em;padding-left:4px;text-align:center">
				<%= link_to 'View', space_lease_path(m.space,m), :title => "#{m.space.company}" %> | <%= m.size %>sf | $<%= m.current_rate %>/mo | exp: <%= m.expiration %>
			</div>
		<% end %>

		<% end %>

	<% else %>

	<div style="padding:10px 5px 10px 5px;text-align:center">If you created a lease or one was shared with you, they will show up here.
		<% unless user_signed_in? %>
			<p>But first you need to <%= button_to 'Sign-In', new_user_session_path, :class => 'trackbutton' %> or <%= button_to 'Become a Member', new_user_registration_path, :class => 'trackbutton' %></p>
		<% end %>
	</div>

	<% end %>

</div>