<div class="bluebox">

	<div class="boxtitle">myLEASES</div>
	<% if @leases.present? %>

	<table width="100%">
		<% @leases.each do |m| %>
		<tr>
			<td colspan="2">
				<div style="text-transform:uppercase;font-size:.8em;text-align:left">
					<%= link_to truncate(m.space.building.address, :separator => ',', :omission => ''), building_path(m.space.building_id), :class => 'list_title', :title => 'Click to see the Building' %> 
				</div>
			</td>
		</tr>
		<tr width="100%">
			<td width="10px">
				<% if Date.today > m.expiration-90.days or m.expiration < Date.today %>
					<div style="background:red;width:10px;height:10px;margin-top:-8px" title="Expires in <%= distance_of_time_in_words(m.expiration, Date.today) %>"/>
				<% else %>
					<div style="background:green;width:10px;height:10px;margin-top:-8px" title="Expires in <%= distance_of_time_in_words(m.expiration, Date.today) %>"/>
				<% end %>
			</td>
			<td>
				<div style="font-size:.9em;margin-top:-8px">
				<%= link_to "Suite #{m.space.suite}", building_space_path(m.space.building.id,m.space.id), :class => 'list_title', :title => 'Click to see the Space' %> | 
				<%= link_to "View Lease", space_lease_path(m.space,m), :title => "#{m.space.company} | #{m.size}sf  |  $#{m.current_rate}  |  Exp: #{m.expiration}" %>
			</div>
			</td>
		</tr>
		
		<% end %>
	</table>

	<% else %>

	<div style="padding:10px 5px 10px 5px;text-align:center">If you created a lease or one was shared with you, they will show up here.
		<% unless user_signed_in? %>
			<p>But first you need to <%= button_to 'Sign-In', new_user_session_path, :class => 'trackbutton' %> or <%= button_to 'Become a Member', new_user_registration_path, :class => 'trackbutton' %></p>
		<% end %>
	</div>

	<% end %>

</div>