<div class="bluebox">
    <div class="boxtitle">Members</div>

<%= gmaps({
        "map_options" => {"auto_adjust" => true, "auto_zoom" => true, "type" => "ROADMAP" },
        "markers" => {"data" => @json }
      }) %>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>location</th>
    <th>Last Log-In</th>
    <th>Log-Ins</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.geocity %> <%= user.geostate %></td>
    <td><%= time_ago_in_words(user.last_sign_in_at) %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= yield :scripts %>
</div>

