<h1>Leases I Created</h1>

<table>
  <tr>
    <th>File?</th>
    <th>Address</th>
    <th>Current rate</th>
    <th>Expiration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leases.each do |lease| %>
  <tr>
    <td><% if lease.file? %>Yes<% else %>No<% end %></td>
    <td><%= lease.space.building.address %></td>
    <td><%= lease.current_rate %></td>
    <td><%= lease.expiration %></td>
    <td><%= link_to 'Show', space_lease_path(lease.space,lease) %></td>
    <td><%= link_to 'Edit', edit_space_lease_path(lease.space,lease) %></td>
  </tr>
<% end %>
</table>

<br />
