<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>
<%= link_to 'Edit', edit_user_registration_path %>
<br/>
<hr>
<%= render '/shared/micropost_form' %>
Posts: <%= @user.microposts.count %>
<% unless @user.microposts.empty? %>
<br/>
<%= render 'shared/feed' %>
<% end %>
