<% if @user.id == current_user.id %>
	<%= currently_at 'myProfile' %>
<% else %>
	<%= currently_at 'People' %>
<% end %>

<div class="pagetitle"><%= @user.name %>'s Profile</div> 

	<table>
		<tr>
			<td>
				<% unless @user.microposts.empty? %>
					<%= render 'shared/feed' %>
				<% end %>
			</td>
		</tr>
	</table>

		<%= content_for :sidebar do %>
			<%= gravatar_image_tag @user.email %>
			<% if current_user == @user %>(<%= link_to 'Edit my Profile', edit_user_registration_path %>)<% end %>

		<table>
			<tr>
				<td>
					<div class="feed">
						<% if user_signed_in? %>
							Add a comment about this person:
						<%= render '/shared/micropost_form' %>
						<% else %>
							<%= link_to "Sign In to Add a Comment", new_user_registration_path %>
						<% end %>
					</div>
				</td>
			</tr>
		</table>
			
		<% end %>
	</table>
