
<% if current_user == @user %>
	<%= currently_at 'myStuff' %>
<% else %>
	<%= currently_at 'People' %>
<% end %> 
	<table width="100%">
		<tr>
			<% unless mobile_device? %>
				<% if user_signed_in? %>
					<% if current_user == @user %>
						<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= link_to gravatar_image_tag(@user.email), 'http://www.gravatar.com', :title => 'Click to Update Pic', :class => 'profile_pic', :target => '_blank' %></td>
					<% else %>
						<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
					<% end %>
				<% else %>
					<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
				<% end %>
			<% else %>
				<% if user_signed_in? %>
					<% if current_user == @user %>
						<td rowspan="2" style="padding-top:10px;vertical-align:middle" width="140px"><%= link_to gravatar_image_tag(@user.email, :gravatar => {:size => '120x120'}, :title => 'Click to Update Pic', :class => 'profile_pic', :target => '_blank'), 'http://www.gravatar.com' %></td>
					<% else %>
						<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
					<% end %>
				<% else %>
					<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
				<% end %>
			<% end %>

			<td style="text-align:left;">
				<span class="title"><%= @user.name %></span>
				<% if @user.upgrade == 'Upgrade59' %>
				<span class="premium">premium member</span>
				<% end %>
				<br/>
				<span style="font-size:.8em;text-transform:uppercase">Member Since: <%= @user.created_at.strftime("%b %d, %Y") %></span>
			</td>
			<td width="60px">
				<% if user_signed_in? %>
					<% unless current_user == @user %>
							<div id="follow_form">
								<% if current_user.following?(@user) %>
									<%= render 'unfollow' %>
								<% else %>
									<%= render 'follow' %>
								<% end %>
							</div>
					<% else %>
						<%= button_to 'Edit my Profile', edit_user_registration_path(@user), :method => 'get', :class => 'button' %>
					<% end %>
				<% else %>
					<%= button_to 'Sign-In', new_user_session_path, :class => 'button' %>
				<% end %>
			</td>
		</tr>
		<% if @user.upgrade == 'Upgrade59' %>
		<tr>
			<td style="vertical-align:top">
				<table width="100%">
					<tr>
						<td colspan="3" style="padding-top:10px">
							<span style="font-size:1.5em"><%= @user.phone %></span>
							<% if @user.website %>
							 | <%= link_to @user.website, 'http://'+@user.website, :target => '_blank' %>
							<% end %>
						</td>
					</tr>
				</table>
			</td>
			<td style="text-align:right">
		  		<%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "30x30", :alt => "Twitter"), "http://twitter.com/home?status=Take a look at this on @Trackingspace: http://#{request.host+request.fullpath}", :target => '_blank' %>
			  	<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "30x30"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank' %>
			</td>
		</tr>	
		<tr>
			<td colspan="3" style="padding:10px;background:#f0f0f0">
				<%= @user.description %>
			</td>
		</tr>
		<% end %>
	</table>
	<table width="100%">
		<tr>
			<td style="text-align:right">
				<div class="viewbuttoncontainer">
					<%= button_to 'Activity', showfeed_user_path, :class => 'viewbutton', :remote => true, :method => 'get' %>
				</div>
				<% if @leases and @user.id == current_user.id %>
				<div class="viewbuttoncontainer">
					<%= button_to 'Leases', leases_user_path, :class => 'viewbutton', :remote => true, :method => 'get' %>
				</div>
				<% end %>
				<div class="viewbuttoncontainer">
					<%= button_to "Following", following_user_path, :class => 'viewbutton', :remote => true, :method => 'get' %>
				</div>
				<div class="viewbuttoncontainer">
					<%= button_to "Followers", followers_user_path, :class => 'viewbutton', :remote => true, :method => 'get' %>
				</div>
				<% if @user.upgrade == 'Upgrade59' %>
					<div class="viewbuttoncontainer">
						<%= button_to "Buildings", buildingads_user_path, :class => 'viewbutton', :remote => true, :method => 'get' %>
					</div>
					<div class="viewbuttoncontainer">
						<%= button_to "Spaces", spaceads_user_path, :class => 'viewbutton', :remote => true, :method => 'get' %>
					</div>
				<% end %>
				<div class="viewbuttoncontainer">
							<%= button_to "Tracking", trackingbuildings_user_path, :class => 'viewbutton', :remote => true, :method => 'get' %>
				</div>
			</td>
		</tr>
	</table>
		<% if user_signed_in? %>
			<% unless current_user == @user %>
				<div style="padding:8px">
									Add a comment about this person:
								<%= render '/shared/micropost_form' %>
					</div>
			<% else %>
				<div style="padding:8px"/>
			<% end %>
		<% end %>
	<div id="partials" style="border:1px solid orange;margin-top:5px;width:101%">
		<%= render 'shared/feed' %>
	</div>

		<%= content_for :sidebar do %>
			
		<% end %>

	<%= content_for :search do %>
	<% end %>
	</table>
