<% if current_user == @user %>
	<%= currently_at 'myStuff' %>
<% else %>
	<%= currently_at 'People' %>
<% end %> 

	<table width="100%">
		<tr>
			<% unless mobile_device? %>
				<% if user_signed_in? %>
					<% if current_user == @user %>
						<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= link_to gravatar_image_tag(@user.email), 'http://www.gravatar.com', :title => 'Click to Update Pic', :class => 'profile_pic', :target => '_blank' %></td>
					<% else %>
						<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
					<% end %>
				<% else %>
					<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
				<% end %>
			<% else %>
				<% if user_signed_in? %>
					<% if current_user == @user %>
						<td rowspan="2" style="padding-top:10px;vertical-align:middle" width="140px"><%= link_to gravatar_image_tag(@user.email, :gravatar => {:size => '120x120'}, :title => 'Click to Update Pic', :class => 'profile_pic', :target => '_blank'), 'http://www.gravatar.com' %></td>
					<% else %>
						<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
					<% end %>
				<% else %>
					<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
				<% end %>
			<% end %>

			<td style="text-align:left;">
				<span class="title"><%= @user.name %></span><br/>
				<span style="font-size:.8em;text-transform:uppercase">Member Since: <%= @user.created_at.strftime("%b %d, %Y") %></span>
			</td>
			<td width="60px">
				<% if user_signed_in? %>
					<% unless current_user == @user %>
							<div id="follow_form">
								<% if current_user.following?(@user) %>
									<%= render 'unfollow' %>
								<% else %>
									<%= render 'follow' %>
								<% end %>
							</div>
					<% else %>
						<%= button_to 'Edit my Profile', edit_user_registration_path(@user), :method => 'get', :class => 'button' %>
					<% end %>
				<% else %>
					<%= button_to 'Sign-In', new_user_session_path, :class => 'button' %>
				<% end %>
			</td>
		</tr>
		<% if @user.upgrade == 'Upgrade59' %>
		<tr>
			<td style="vertical-align:top">
				<table width="100%">
					<tr>
						<td colspan="3" style="padding-top:10px">
							<span style="font-size:1.5em"><%= @user.phone %></span>
							<% if @user.website %>
							 | <%= link_to @user.website, 'http://'+@user.website, :target => '_blank' %>
							<% end %>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<% unless mobile_device? %>
			  		<%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "30x30", :alt => "Twitter"), "http://twitter.com/home?status=Saw this on Trackingspace: http://#{request.host+request.fullpath}", :target => '_blank' %>
				  	<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "30x30"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank' %>
				<% else %>
					<%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "50x50", :alt => "Twitter"), "http://twitter.com/home?status=Saw this on Trackingspace: http://#{request.host+request.fullpath}", :target => '_blank' %>
				  	<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "50x50"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank' %>
				<% end %>
			</td>
		</tr>	
		<tr>
			<td colspan="3" style="padding:10px;background:#f0f0f0">
				<%= @user.description %>
			</td>
		</tr>
		<% end %>
		<tr>
			<td colspan="3" style="padding-left:8px;text-align:center;padding-top:10px">
				
				Activity: <%= @user.microposts.count %> |
				Following: <%= link_to @user.following.count, following_user_path %>  |
				Followers: <%= link_to @user.followers.count, followers_user_path %> | 
				Buildings: <%= link_to @user.ads.count, '' %> |
				Buildings Tracked: <%= link_to @user.building_relationships.count, trackingbuildings_user_path %>
				<% if user_signed_in? && mobile_device? %> |
					<%= link_to 'SignOut', destroy_user_session_path(@user) %>
				<% end %>
			</td>
		</tr>
		<% if user_signed_in? %>
			<% unless current_user == @user %>
				<tr><td colspan="3"><hr/><hr/></td></tr>
				<tr>
					<td colspan="3">
									Add a comment about this person:
								<%= render '/shared/micropost_form' %>
					</td>
				</tr>
			<% else %>
			<tr><td colspan="3"><hr/><hr/></td></tr>
			<% end %>
		<% end %>
		<tr>
			<td colspan="3">
				<% unless @user.microposts.empty? %>
					<%= render 'shared/feed' %>
				<% end %>
			</td>
		</tr>
	</table>

		<%= content_for :sidebar do %>
			
		<% end %>
	</table>
