<% if current_user == @user %>
	<%= currently_at 'myStuff' %>
<% else %>
	<%= currently_at 'People' %>
<% end %> 

	<table width="100%">
		<tr>
			<% if user_signed_in? %>
			<% if current_user == @user %>
				<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= link_to gravatar_image_tag(@user.email), 'http://www.gravatar.com', :title => 'Click to Update Pic', :class => 'profile_pic', :target => '_blank' %></td>
			<% else %>
				<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
			<% end %>
			<% else %>
				<td rowspan="2" style="padding-top:10px;vertical-align:top" width="90px"><%= gravatar_image_tag(@user.email) %></td>
			<% end %>
			<td class="title" style="text-align:left;vertical-align:top;padding-top:8px"><%= @user.name %></td>
			<td width="60px">
				<% if user_signed_in? %>
					<% unless current_user == @user %>
							<div id="follow_form">
								<% if current_user.following?(@user) %>
									<%= render 'unfollow' %>
								<% else %>
									<%= render 'follow' %>
								<% end %>
							</div>
					<% else %>
						<%= button_to 'Edit my Profile', edit_user_registration_path(@user), :method => 'get', :class => 'button' %>
						<% if mobile_device? %>
							<%= button_to 'Sign-Out', destroy_user_session_path, :method => 'delete' %>
						<% end %>
					<% end %>
				<% else %>
					<%= button_to 'Sign-In', new_user_session_path, :class => 'button' %>
				<% end %>
			</td>
		</tr>
		<% if @user.upgrade == 'Upgrade59' %>
		<tr>
			<td colspan="2">
				<table width="100%">
					<div style="font-size:1.25em"><%= @user.phone %></div><br/>
					<% if @user.website != '' %>
					<%= link_to 'http://'+@user.website, 'http://'+@user.website, :target => '_blank' %>
					<% end %>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="padding:10px;background:#f0f0f0">
				<%= @user.description %>
			</td>
		</tr>
		<% end %>
		<tr>
			<td colspan="3" style="padding-left:8px;text-align:center;padding-top:10px">
				
				Activity: <%= @user.microposts.count %> |
				Member Since: <%= @user.created_at.strftime("%b %d, %Y") %>  |
				Following: <%= link_to @user.following.count, following_user_path %>  |
				Followers: <%= @user.followers.count %>
			</td>
		</tr>
		<% if user_signed_in? %>
			<% unless current_user == @user %>
				<tr><td colspan="3"><hr/><hr/></td></tr>
				<tr>
					<td colspan="3">
									Add a comment about this person:
								<%= render '/shared/micropost_form' %>
					</td>
				</tr>
			<% else %>
			<tr><td colspan="3"><hr/><hr/></td></tr>
			<% end %>
		<% end %>
		<tr>
			<td colspan="3">
				<% unless @user.microposts.empty? %>
					<%= render 'shared/feed' %>
				<% end %>
			</td>
		</tr>
	</table>

		<%= content_for :sidebar do %>
			
		<% end %>

		<%= content_for :search do %>
			<%= render 'shared/topmsg' %>
		<% end %>
	</table>
