<p id="notice"><%= notice %></p>

<%= @user.name %>, <%= @user.email %>
<%= link_to 'Edit', edit_user_registration_path %>

<% unless @user.micropost.empty? %>
Microposts:
	<%= render @microposts %>
<% end %>

<br/>
<hr>
Microposts: <%= @user.microposts.count %>
<% unless @user.microposts.empty? %>
<br/>
<ul>
<%= render @user.microposts %>
</ul>
<% end %>
