<% if current_user == @user %>
	<%= currently_at 'myProfile' %>
<% else %>
	<%= currently_at 'People' %>
<% end %> 

	<table width="100%">
		<tr>
			<td rowspan="2" style="padding:8px"><%= gravatar_image_tag @user.email %></td>
			<td class="title" style="text-align:left"><%= @user.name %></td>
			<td style="text-align:right">
				<% unless current_user == @user %>
					<div id="follow_form">
						<% if current_user.following?(@user) %>
							<%= render 'unfollow' %>
						<% else %>
							<%= render 'follow' %>
						<% end %>
					</div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<% if current_user == @user %>
				<%= link_to 'Edit my Profile |', edit_user_registration_path %>
				<% end %>
				Posts: <%= @user.microposts.count %> |
				Member Since: <%= @user.created_at.strftime("%b %d, %Y") %>
			</td>
		</tr>
		<tr><td colspan="3"><hr/><hr/></td></tr>
		<tr>
			<td colspan="3">
				<% if user_signed_in? %>
							Add a comment about this person:
						<%= render '/shared/micropost_form' %>
						<% else %>
							<%= link_to "Sign In to Add a Comment", new_user_registration_path %>
						<% end %>
			</td>
		</tr>
		<tr><td colspan="3"><hr/><hr/></td></tr>
		<tr>
			<td colspan="3">
				<% unless @user.microposts.empty? %>
					<%= render 'shared/feed' %>
				<% end %>
			</td>
		</tr>
	</table>

		<%= content_for :sidebar do %>
			
		<% end %>

		<%= content_for :search do %>
			<%= render 'shared/topmsg' %>
		<% end %>
	</table>
