<% currently_at 'myStuff' %>

<div class="title">Edit My Profile</div>
<hr/>

<table width="100%">
  <tr>
    <td style="border-right:2px solid #888888" width="50%">
      <strong>Associate one of these services:</strong>
        <div style="font-size:.7em">Makes signing in easier in the future</div>

      <a href="/auth/twitter" class="auth_provider">
        <%= image_tag "https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
      </a>

      <a href="/auth/facebook" class="auth_provider">
        <%= image_tag "http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
      </a>

      <a href="/auth/linkedin" class="auth_provider">
        <%= image_tag "http://github.com/intridea/authbuttons/raw/master/png/linkedin_64.png", :size => "64x64", :alt => "LinkedIn" %>
      </a>

      <a href="/auth/google" class="auth_provider">
        <%= image_tag "http://github.com/intridea/authbuttons/raw/master/png/google_64.png", :size => "64x64", :alt => "Google" %>
      </a>
    </td>
    <td style="padding-left:20px">
      <% if @authentications %>
        <table>
          <tr>
            <strong>Already associated:</strong>
            <div style="font-size:.7em">Click to Remove</div>
            <% for authentication in @authentications %>
              <td style="display:inline">
                <%= link_to (image_tag "https://github.com/intridea/authbuttons/raw/master/png/#{authentication.provider}_64.png", :size => "64x64"), authentication, :confirm => 'Are you sure you want to remove this association?', :method => :delete, :class => "remove", :title => "Click to Remove" %>
              </td>
            <% end %>
            </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>
  
<hr/>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if @user.upgrade != nil %>

  <div><%= f.label :phone %><br />
  <%= f.phone_field :phone %></div>

  <div><%= f.label :description %><br />
  <%= f.text_area :description, :size => '40x5' %></div>

  <div><%= f.label :website %><br />
  <%= f.text_field :website %></div>

  <% end %>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <%= link_to 'Edit Password', edit_user_password_path(resource_name) %>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
