<head>
    <%= stylesheet_link_tag 'landing' %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34365499-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body>
    <div style="float:left;height:50px;padding:8px 10px 8px 60px">
        <%= image_tag("logo_ts.png", :size => "40x40") %>
    </div>
    <div style="float:left;padding-top:25px" class="title">TrackingSpace
    </div>
    <div style="float:right;padding:25px 60px 0 0">
        <%= link_to 'Sign-In', new_user_session_path, :class => 'trackbutton', :style => 'color:white;text-decoration:none', :method => 'get' %>
    </div>
    <div style="float:right;padding:25px 8px 0 0">
        <%= link_to 'Become a Member', new_user_registration_path, :class => 'trackbutton', :style => 'color:white;text-decoration:none', :method => 'get' %>
    </div>


<div style="float:left;margin-top:60px">
  <div>
  <% if notice %>
    <p class="notification notice">
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="notification alert">
      <%= alert %>
    </p>
  <% end %>
</div>

<table width="100%">
  <tr>
    <td style="border-right:2px solid #888888;padding-left:20px" width="50%">
      <strong>Associate one of these services:</strong>
        <div style="font-size:.7em">Makes signing in easier in the future</div>

      <a href="/auth/twitter" class="auth_provider">
        <%= image_tag "https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "32x32", :alt => "Twitter" %>
      </a>

      <a href="/auth/facebook" class="auth_provider">
        <%= image_tag "http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "32x32", :alt => "Facebook" %>
      </a>

      <a href="/auth/linkedin" class="auth_provider">
        <%= image_tag "http://github.com/intridea/authbuttons/raw/master/png/linkedin_64.png", :size => "32x32", :alt => "LinkedIn" %>
      </a>
    </td>
    <td style="padding-left:20px">
      <% if @authentications %>
        <table>
          <tr>
            <strong>Already associated:</strong>
            <div style="font-size:.7em">Click to Remove</div>
            <% for authentication in @authentications %>
              <td style="display:inline">
                <%= link_to (image_tag "https://github.com/intridea/authbuttons/raw/master/png/#{authentication.provider}_64.png", :size => "32x32"), authentication, :confirm => 'Are you sure you want to remove this association?', :method => :delete, :class => "remove", :title => "Click to Remove" %>
              </td>
            <% end %>
            </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>
  
<hr/>

<div class="form_box">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  
  <table width="100%">
    <tr>
      <td colspan="2" style="color:red;font-weight:bold">
        <%= devise_error_messages! %>
      </td>
    </tr>
    <tr>
      <td width="25%">
        <div class="field"><%= f.label :name %></div>
      </td>
      <td>
        <%= f.text_field :name, :class => 'field', :title => 'Let people know who you are' %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field"><%= f.label :username %></div>
      </td>
      <td>
        <%= f.text_field :username, :class => 'field', :title => 'Not necessary but may be helpful in the future' %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field"><%= f.label :email %></div>
      </td>
      <td>
        <%= f.email_field :email, :class => 'field' %>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding:8px 20px;background:#888888;color:#ffffff">
        The following appear when upgraded...
      </td>
    </tr>
    <tr>
      <td>
        <div class="field"><%= f.label :phone %></div>
      </td>
      <td>
        <%= f.phone_field :phone, :class => 'field' %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <div class="field"><%= f.label :description %></div>
      </td>
      <td>
        <%= f.text_area :description, :size => '40x5', :class => 'field' %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field"><%= f.label :website %></div>
      </td>
      <td>
        <%= f.text_field :website, :class => 'field' %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <hr/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field"><%= f.label :password %></div>
      </td>
      <td>
        <%= f.password_field :current_password, :class => 'field' %>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;color:#888888;font-size:.8em">
        <i>(we need your current password to confirm your changes)</i>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center">
        <%= f.submit "Update", :class => 'button' %>
      </td>
    </tr>
  </table>
</div>
<% end %>