<% currently_at 'Home' %>

<div class="pagetitle">Become a Member</div>

<h2>Membership = Free</h2>
<p>
	Become a member today and start tracking your space(s) and lease(s).  Becoming a member is free.  Our members get total access every building, space and person.  Our objective is, like most other web companies, to get more people using this service and telling others about it.  We welcome you to share it with others and visit a few of the sponsors along the way.
</p>
<p>
	We look forward to you as a member!
<p>

<div class="form_box">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
