<head>

    <%= stylesheet_link_tag 'application' %>

    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34365499-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</head>
<body>
    <div style="float:left;height:50px;padding:8px 10px 8px 60px">
        <%= link_to image_tag("logo_ts.png", :size => "40x40"), home_path %>
    </div>
    <div style="float:left;padding-top:25px" class="title">TrackingSpace
    </div>
    <div style="float:right;padding:25px 60px 0 0">
        <%= link_to 'Sign-In', new_user_session_path, :class => 'trackbutton', :style => 'color:white;text-decoration:none', :method => 'get' %>
    </div>
    <div style="float:right;padding:25px 8px 0 0">
        <%= link_to 'Become a Member', new_user_registration_path, :class => 'trackbutton', :style => 'color:white;text-decoration:none', :method => 'get' %>
    </div>


<div style="float:left">
	<div>
	<% if notice %>
		<p class="notification notice">
			<%= notice %>
		</p>
	<% end %>
	<% if alert %>
		<p class="notification alert">
			<%= alert %>
		</p>
	<% end %>
</div>

<div style="margin: 65px 0 20px auto; width:600px; border:1px solid #888888;padding:10px;text-align:center" class="title">
	Membership is Free.<br/>Simply complete the form below to start tracking.
</div>		

<div class="form_box" style="margin:0 auto">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

	<table width="90%">
		<tr>
			<td style="vertical-align:middle;text-align:right"><%= f.label :name %></td>
			<td><%= f.text_field :name, :class => 'field' %></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;text-align:right"><%= f.label :email %></td>
			<td><%= f.email_field :email, :class => 'field' %></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;text-align:right"><%= f.label :password %></td>
			<td><%= f.password_field :password, :class => 'field' %></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;text-align:right"><%= f.label :password_confirmation %></td>
			<td><%= f.password_field :password_confirmation, :class => 'field' %></td>
		</tr>
		<tr height="15px"/>
	</table>
  
  <div style="text-align:center"><%= f.submit "Sign up", :class => 'button' %></div>
<% end %>

</div>
</div>