<table width="100%">
	<tr>
		<td rowspan="2" width="80px" style="vertical-align:top;padding-top:10px"><%= link_to gravatar_image_tag(feed_item.user.email, :gravatar => {:size => '60x60'}, :title => "Click to see #{feed_item.user.name}\'s profile", :alt => feed_item.user.name), user_path(feed_item.user) %></td>
		<td style="vertical-align:top">
			<div id="name" style="text-transform:uppercase">
				<% unless @building.present? %>
					<% if feed_item.building_id? %>
						<%= link_to truncate(feed_item.building.address, :size => 20, :separator => ',', :omission => ''), building_path(feed_item.building) %></div>
					<% end %>
					<% if feed_item.postforuser_id? %>
						<%= link_to feed_item.postforuser.name, user_path(feed_item.postforuser_id) %>
					<% end %>
				<% end %>
				<% if feed_item.space_id %>
					<div id="building">
						Related to Suite <%= feed_item.space.suite %>
					</div>
				<% end %>
			</div>
		</td>
		<td style="text-align:right" width="250px">
			<%= time_ago_in_words(feed_item.created_at) %> ago 
			<% unless mobile_device? %>
				<% if current_user == (feed_item.user) %>
				<%= link_to " | delete", feed_item, :method => :delete, :confirm => "Are You Sure?" %>
				<% end %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<% if feed_item.content? %>
				<div id="post">"<%= feed_item.content %>"</div>
			<% end %>
			<% if feed_item.typeof == 'Created' %>
				<div id="post">Added Suite <%= feed_item.suite %></div>
			<% end %>
			<% if feed_item.typeof == 'Updated' %>
				<div id="post">Updated Suite <%= feed_item.suite %></div>
			<% end %>
		</td>
		<td style="text-align:right">
			<div id="building">
				<%= link_to feed_item.user.name, user_path(feed_item.user) %>
			</div>
		</td>
	</tr>
	<hr/>
</table>
	