<div class="bluebox">
	<div class="boxtitle" style="width:400px">Those i've sponsored</div>

	<div style="padding:5px 5px;margin:20px 0 5px;width:98%;border-bottom:1px solid #888;font-weight:bold;font-size:1.2em;color:red">Pending Acceptance (they haven't accepted yet)</div>
	<table width="100%">
		<% @pending.each do |p| %>
		<tr>
			<td width="30%"><%= p.email %></td>
			<td width="60%"><%= link_to 'Remove Offer', p, :method => :delete, :confirm => "Are You Sure?" %></td>
		</tr>
		<% end %>
	</table>
	<div style="padding:5px 5px;margin:20px 0 5px;width:98%;border-bottom:1px solid #888;font-weight:bold;font-size:1.2em;color:green">Currently Sponsored</div>
	<table width="100%">
		<tr style="text-align:left">
			<th>Name</th>
			<th>Email</th>
			<th>Last Log-In</th>
			<th></th>
		</tr>
		<% @sponsored.each do |s| %>
		<tr>
			<td><%= link_to s.name, user_path(s.id) %></td>
			<td><%= s.email %></td>
			<td><%= time_ago_in_words(s.last_sign_in_at) %> ago</td>
			<td><%= link_to 'Remove', s, :method => :delete, :confirm => "Are You Sure?" %></td>
		</tr>
		<% end %>
	</table>

</div>
