<div style="padding:10px;background:black;color:white;margin:0 0 10px">	
	<% if alert %>
		<div style="width:95%;padding:5px;color:white;background:red;font-size:.9em;margin-bottom:8px">
			<%= alert %>
		</div>
	<% end %>
	<% if notice %>
		<div style="width:95%;padding:5px;color:white;background:green;font-size:.9em;margin-bottom:8px">
			<%= notice %>
		</div>
	<% end %>
	<% if @sponsorleft != 0 %>
	<div style="float:left">Sponsor Client Access:</div>

	<%= form_tag(:controller => 'sponsors', :action => 'sendsponsoremail', :remote => true) do %>
		<%= email_field_tag :email, nil, :placeholder => 'info@trackingspace.com', :style => 'width:175px' %>
		<%= submit_tag "Send", :class => 'trackbutton', :style => 'right:0;float:right' %>
	<% end %>
	<% else %>
            <div style="background:#FFFF7E;margin:2px;color:black;padding:8px">
              You've hit your limit for sponsoring - <%= link_to 'Upgrade for more', upgrade_path %>
            </div>
    <% end %>
	<div style="float:left;padding:5px 10px 0;font-size:.9em">
		<%= link_to @sponsorcount, sponsored_path, :style => 'padding:0 3px;background:#ffffff;color:red;font-weight:bold;font-size:.9em', :title => 'Click to see who you have sponsored or sent requests to' %> used
	</div>
	<div style="float:left;padding:5px 10px 0;font-size:.9em">
		<% if current_user.upgrade == 'Upgrade100' %> &#x221E;
		<% else %><%= @sponsorleft %><% end %> left
	</div>
	<div style="clear:left"/>

</div>