<% currently_at 'Buildings' %>

<%= content_for :sidebar do %>
	<% if user_signed_in? %>
          <%= render 'shared/recent' %>
    <% end %>

<% end %>

<%= content_for :search do %>
	<% if mobile_device? %>
		<%= render 'buildings/form_new_mobile' %>
	<% end %>
<% end %>

<% if user_signed_in? %>
<div class="title">Building Activity</div>
	<% unless @user.building_feed %>
	<p>
		Once a member and you've selected other buildings to track, this area would show a list of recent communications/posts related to the buildings you're tracking...kind of like a Twitter feed.  Looks like you've got to start looking for some buildings to track...
	</p>
	Go to the top of the page and start typing an address...
	<% else %>
	<table width="100%">
		<tr>
			<td><%= render 'shared/feed' %></td>
		</tr>
	</table>
	<% end %>
<p/>
<hr/>
<%= render 'shared/recent' %>
<% else %>
	<div class="title">Building Activity</div>
	<p>
		Once a member and you've selected other buildings to track, this area would show a list of recent communications/posts related to the buildings you're tracking...kind of like a Twitter feed.
	<p>
		Feel free to look at the following recent additions and <%= link_to 'become a member', new_user_registration_path %> or <%= link_to 'Sign-In', new_user_session_path %>
	<hr/>
	<%= render 'shared/feed' %>
<% end %>

