
<% currently_at 'Home' %>

<%= content_for :search do %>
	<% if mobile_device? %>
		<%= render 'buildings/form_new_mobile' %>
	<% end %>
<% end %>	

<% if user_signed_in? %>
	<% if @feed_items %>
	<div class="listbox_title">Recent Activity</div>
	<%= render 'shared/feed' %>
	<% else %>
	<hr/>
	As you follow or track people and buildings, you will develop a list of activities related to these people or places.  This would show up here.
	<% end %>
<% end %>

<% unless user_signed_in? %>

	<%= render 'shared/feed' %>
<% end %>

<%= content_for :sidebar do %>
	<%= render 'shared/recent' %>
<% end %>


