<% currently_at 'Home' %>

<%= content_for :search do %>
	<%= render 'buildings/form_new' %>
<% end %>	

<div class="title">TrackingSpace</div>
<hr/>
<% if user_signed_in? %>
	<% if @recent_items %>
	<%= render 'shared/recent' %>
	<% else %>
	As you look at buildings, you will develop a list in this space keeping track, to allow you a quick click-back to see them again.
	<% end %>
	<% if @feed_items %>
	<div class="listbox_title">Recent Activity</div>
	<%= render 'shared/feed' %>
	<% else %>
	<hr/>
	As you follow or track people and buildings, you will develop a list of activities related to these people or places.  This would show up here.
	<% end %>
<% end %>

<% unless user_signed_in? %>

<h3>The Non-Listing Service</h3>
<p>
TrackingSpace is not another listing service.  It is not a listing service at all.  It is a means by which businesses leasing commercial real estate space can track not only the leases on their space but other spaces as well.  Additionally, members of this service can observe changes that occur with buildings, spaces and other members.  Access is free.  Only those that wish to show their connection with a given building/space may opt for an upgrade.  Otherwise, feel free to become a member and start tracking. 
<p>

<h3>Where to Start?</h3>
<p>
	Everything is driven off addresses.  Start by typing an address in the search box at the top of this page.  Be sure to complete (or select) the address before clicking "Go".  This will take you to the building detail page.  From here you can add your space if its not already there, and add/upload your lease.
</p>
<hr/>
<div class="title">Recent Activity</div>
<hr/>
<%= render 'shared/feed' %>
<% end %>

<%= content_for :sidebar do %>
	<%= render 'shared/recent' %>
<% end %>
