<head>

    <%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js", "http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js", "slides.jquery.js" %>

    <script>
        $(function(){
            $("#slides").slides({
                preload: true,
                preloadImage: 'assets/loading.gif',
                play: 5000,
                pause: 1500,
                hoverPause: true
            });
        });
    </script>


</head>

<body>
<% currently_at 'Home' %>

<%= content_for :search do %>
	<% if mobile_device? %>
		<%= render 'buildings/form_new' %>
	<% end %>
<% end %>	

<% if user_signed_in? %>
	<% if @feed_items %>
	<div class="listbox_title">Recent Activity</div>
	<%= render 'shared/feed' %>
	<% else %>
	<hr/>
	As you follow or track people and buildings, you will develop a list of activities related to these people or places.  This would show up here.
	<% end %>
<% end %>

<% unless user_signed_in? %>

	<div style="float:left;width:100%;margin:0 0 20px 0;padding-bottom:20px;background:#efefef">
        <div id="slides" style="width:600px">
            <div class="slides_container">
                <div>
                    <%= image_tag("IntroductionSlide.png", :size => "600x350") %>
                </div>
                <div>
                    <%= image_tag("KeyFeatures.png", :size => "600x350") %>
                </div>
                <div>
                    <%= image_tag("ForTenants.png", :size => "600x350") %>
                </div>
                <div>
                    <%= image_tag("ForBrokers.png", :size => "600x350") %>
                </div>
                <div>
                    <%= image_tag("ForPropertyManagers.png", :size => "600x350") %>
                </div>
                <div>
                    <%= image_tag("BasicLayout.png", :size => "600x350") %>
                </div>
                <div>
                    <%= link_to image_tag("BecomeMember.png", :size => "600x350"), new_user_registration_path %>
                </div>
            </div>
        </div>
    </div>

	<%= render 'shared/feed' %>
<% end %>

<%= content_for :sidebar do %>
	<%= render 'shared/recent' %>
<% end %>

</body>

