
<% currently_at 'Home' %>

<%= content_for :search do %>
	<% if mobile_device? %>
		<%= render 'buildings/form_new_mobile' %>
	<% end %>
<% end %>	

<% unless user_signed_in? %>
	<div style="position:fixed;margin:50px 0 0 20%;z-index:99999">
		<div class="calloutpoint-pink">
			This is where you start the journey.  Start typing your address above.
			Then select the address and click the magnifying glass or press return.
			<p>You can also start clicking/touching addresses, names and pictures
				on this page to get a feel for it.
			</p>
		</div>
	</div>	
<% end %>


<div class="bluebox">
	<% if user_signed_in? %>
		<% if @feed_items %>
		<%= render 'shared/feed' %>
		<% else %>
		<hr/>
		As you follow or track people and buildings, you will develop a list of activities related to these people or places.  This would show up here.
		<% end %>
	<% end %>

<% unless user_signed_in? %>
	<%= render 'shared/feed' %>
<% end %>

</div>


<%= content_for :sidebar do %>
	<%= render 'shared/recent' %>
<% end %>


