<head>

    <%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js", "http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js", "slides.jquery.js" %>
    <%= stylesheet_link_tag 'layout' %>

    <script>
        $(function(){
            $("#slides").slides({
                preload: true,
                preloadImage: 'assets/loading.gif',
                play: 5000,
                pause: 1500,
                hoverPause: true
            });
        });
    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34365499-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body>
    <div style="float:left;height:50px;padding:8px 10px 8px 60px">
        <%= image_tag("logo_ts.png", :size => "40x40") %>
    </div>
    <div style="float:left;padding-top:25px" class="title">TrackingSpace
    </div>
    <div style="float:right;padding:25px 60px 0 0">
        <%= link_to 'Sign-In', new_user_session_path, :class => 'trackbutton', :style => 'color:white;text-decoration:none', :method => 'get' %>
    </div>
    <div style="float:right;padding:25px 8px 0 0">
        <%= link_to 'Become a Member', new_user_registration_path, :class => 'trackbutton', :style => 'color:white;text-decoration:none', :method => 'get' %>
    </div>
    <div style="float:left;width:100%;padding:20px 0;background:#efefef">
        <div id="slides" style="width:770px">
            <div class="slides_container">
                <div>
                    <%= image_tag("IntroductionSlide.png", :size => "770x500") %>
                </div>
                <div>
                    <%= image_tag("KeyFeatures.png", :size => "770x500") %>
                </div>
                <div>
                    <%= image_tag("ForTenants.png", :size => "770x500") %>
                </div>
                <div>
                    <%= image_tag("ForBrokers.png", :size => "770x500") %>
                </div>
                <div>
                    <%= image_tag("ForPropertyManagers.png", :size => "770x500") %>
                </div>
                <div>
                    <%= image_tag("BasicLayout.png", :size => "770x500") %>
                </div>
                <div>
                    <%= image_tag("Pricing.png", :size => "770x500") %>
                </div>
                <div>
                    <%= link_to image_tag("BecomeMember.png", :size => "770x500"), new_user_registration_path %>
                </div>
            </div>
        </div>
    </div>
    <div style="float:left;padding-top:10px;color:#888888;width:100%;text-align:center">
        &copy 2013 Trackingspace
    </div>
</body>