<% currently_at 'Home' %>

	<div style="float:left;width:290px;height:290px;border:2px #888;box-shadow:0 5px 5px 5px #888;padding:10px;background:white;margin:10px">
		<div class="boxtitle" style="width:101%;text-align:right;padding-right:10px">newest members</div>
		
			<table width="100%">
				<% @users.each do |u| %>
				<tr>
					<td><%= gravatar_image_tag(u.email, :gravatar => {:size => '40x40'}) %></td>
					<td><%= u.name %></td>
					<td style="text-align:right"><%= u.geocity %> <%= u.geostate %></td>
				</tr>
				<% end %>
			</table>
		
	</div>

	<div style="float:left;width:290px;height:290px;border:2px #888;box-shadow:0 5px 5px 5px #888;padding:10px;background:white;margin:10px">
		<div class="boxtitle" style="width:101%;text-align:right;padding-right:10px">new in area</div>
		<table width="100%">
			<% if @local %>
				<% @local.each do |e| %>
				<tr>
					<td><%= gravatar_image_tag(e.email, :gravatar => {:size => '40x40'}) %></td>
					<td><%= e.name %></td>
					<td style="text-align:right"><%= e.geocity %> <%= e.geostate %></td>
				</tr>
				<% end %>
			<% else %>
			Looks like we have got to get the word out
			<% end %>
			</table>
	</div>


