<% currently_at 'People' %>

	<% if mobile_device? %>
		<% if user_signed_in? %>
		<%= link_to 'myProfile', user_path(current_user), :class => 'button' %>
		<%= link_to 'Sponsored', sponsored_path, :class => 'button' %>
		<%= link_to 'Following', showfollowing_path, :class => 'button' %>
		<%= link_to 'Followers', showfollowers_path, :class => 'button' %>
		<%= link_to 'Search', '#', :class => 'button' %>
          <% if @sponsoravail == true %>
              <%= form_tag(:controller => 'sponsors', :action => 'sendsponsoremail', :remote => true) do %>
		  	<%= email_field_tag :email, nil, :class => "search", :placeholder => 'Sponsor Someone by Typing Email...' %>

			    <%= submit_tag "Send", :class => 'searchglass' %>
			<% end %>
          <% end %>
        <% else %>
          <div style="background:black;color:white;padding:8px;margin-bottom:15px">
            SPONSORING
            <br/>Once a member, there will be an option in this space to email others and "sponsor" their access.  Doing this will place your information in a banner at the top of their pages.  Free basic membership includes sponsoring 2 people.
          </div>
        <% end %>
    <% end %>

<%= render 'pages/newpeople' %>

<div style="float:left;width:99%">
<% if user_signed_in? %>

	<% if @feed_items == nil %>
	<%= content_for :search do %>
		<div class="bluebox">
		<div class="boxtitle" style="width:100.5%">People</div>
			<p>
				Once a member and you've selected other people to track, this area would show a list of recent communications/posts related to the people you're tracking...kind of like a Twitter feed.  Looks like you've got to start adding some people to track.  In the meantime, here are some recent additions...find someone to follow...
			</p>
		</div>
	<% end %>
	<div class="bluebox">
		<%= render 'users/show_follow' %>
	</div>
	<% else %>
	<div class="bluebox">
		<%= render 'shared/feed' %>
	</div>
	<% end %>
<% else %>
	<%= content_for :search do %>
	<div class="bluebox">
		<div class="boxtitle" style="width:100.5%;font-family:'Syncopate';text-align:left">People Activity</div>
		<p>
			Once a member and you've selected people to track, this area would show a list of recent communications/posts related to the people you're tracking...kind of like a Twitter feed.  In the meantime, here are some of our recent additions...
		</p>
	</div>
	<% end %>
	<div class="bluebox">
		<%= render 'shared/feed' %>
	</div>
<% end %>
</div>


