<%= form_for(@building) do |f| %>
<table width="100%" height="350px" style="border:1px solid orange;padding: 20px 0;background:#f3f3f3">
	<tr><td>
		<div class="leftpartialform"><%= f.label 'YouTube Video URL' %></div>
		<div>  
			<%= f.label "YouTube Video Embed Code" %> <%=f.text_field :videourl, :placeholder => 'x9Jt0tyz', :class => 'rightpartialform' %> <%= f.submit %>
		</div>
	</td></tr>
	<tr>
		<td colspan="2" style="text-align:center"><%= f.submit 'Save', :class => 'trackbutton' %></td>
	</tr>
</table>
<% end %>