<%= form_for(@building) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div>

      <div class='field'>
        <%= f.label "Building Size" %> <%= f.number_field :size %>  
      </div>
      <div>  
        <%= f.label "YouTube Video Embed Code" %> <%=f.text_field :videourl, :placeholder => 'x9Jt0tyz' %> <%= f.submit %>
      </div>
      
      <p></P>
<% end %>
