<% if @spaces.any? %>

<table width="100%">
  <tr class="tabletitle">
    <th colspan="5">Spaces</th>
  </tr>
  <% @spaces.each do |space| %>
  <tr class="tabletext">
    <td width="20px"/>
    <td width="25%"><%= link_to space.suite, building_space_path(@building,space) %></td>
    <td width="30%"><%= space.sf %>sf</td>
    <td><%= space.status %></td>
    <td/>
  </tr>
  <% end %>
</table>
<table>
  <tr>
    <td style="text-align:center">

      <% if user_signed_in? %>
      <%= link_to 'Add New Space', new_building_space_path(@building) %>
      <% else %>
      <%= link_to 'Log In To Add Space', new_user_session_path %>
      <% end %>
      
      <% else %>
        Looks like we need to add some spaces!
      <br/>
      <% if user_signed_in? %>
      <%= link_to 'Add New Space', new_building_space_path(@building) %>
      <% else %>
      <%= link_to 'Log In To Add Space', new_user_session_path %>
      <% end %>

    </td>
  </tr>
</table>

<% end %>