<% if @spaces.any? %>
<hr/>
<table width="99%" style="background: #ffffff;padding:8px;box-shadow:2px 2px 2px #888;border:1px solid #888">
  <tr>
    <td style="text-align:center;font-size:.7em" colspan="3">
      <% if user_signed_in? %>
      <%= link_to '(Add New Space)', new_building_space_path(@building) %>
      <% else %>
      <%= link_to 'Log In To Add Space', new_user_session_path %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="text-transform:uppercase;font-size:1.3em;text-align:center">Spaces<br/><hr/></td>
  </tr>
  <tr height="8px"/>
  <% @spaces.each do |space| %>
  <tr>
    <td width="25%" style="text-align:left"><%= link_to space.suite, building_space_path(@building,space) %></td>
    <td width="30%" style="text-align:right"><%= space.sf %>sf</td>
    <td style="text-align:right"><%= space.status %></td>
  </tr>
  <% end %>
</table>
<% end %>