<% if @spaces.any? %>
<table width="100%">

  <tr>
    <td height="10px"/>
  </tr>
  <tr>
    <td colspan="3" class="listbox_title">Spaces</td>
  </tr>
  <% @spaces.each do |space| %>
  <tr>
    <td width="25%" style="text-align:left"><%= link_to space.suite, building_space_path(@building,space) %></td>
    <td width="30%" style="text-align:right"><%= space.sf %>sf</td>
    <td style="text-align:right"><%= space.status %></td>
  </tr>
  <tr>
    <td height="5px"/>
  </tr>
  <% end %>
</table>
  <tr>
    <td height="5px"/>
  </tr>
<table>
  <tr>
    <td style="text-align:center;font-size:.7em" colspan="3">
      <% if user_signed_in? %>
      <%= button_to 'Add New Space for '+truncate(@building.address, :length => 20, :separator => ',', :omission => ''), new_building_space_path(@building), :method => :get, :class => 'button' %>
      <% else %>
      <%= button_to 'Sign In to Add Space', new_user_session_path %>
      <% end %>
    </td>
  </tr>
</table>
<% else %>
<table>
  <tr>  
    <td style="text-align:center;font-size:.7em" colspan="3">
      <% if user_signed_in? %>
      <%= button_to 'Add New Space for '+truncate(@building.address, :length => 20, :separator => ',', :omission => ''), new_building_space_path(@building), :method => :get, :class => 'button' %>
      <% else %>
      <%= button_to 'Sign In to Add Space', new_user_session_path %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>