<% if @spaces.any? %>
<table width="100%" style="border:1px solid orange">

  <tr style="background:#888888;color:white;text-align:center;font-size:.9em;border:0px">
    <th>Suite Num</th>
    <th>Sq Ft</th>
    <th>Status</th>
  </tr>
  <% @spaces.each do |space| %>
  <tr>
    <td style="text-align:center"><%= link_to space.suite, building_space_path(@building.id,space) %></td>
    <td style="text-align:center"><%= space.sf %>sf</td>
    <td style="text-align:center"><%= space.status %></td>
  </tr>
  <tr>
    <td height="5px"/>
  </tr>
  <% end %>
</table>
  <tr>
    <td height="5px"/>
  </tr>
<table>
  <tr>
    <td style="text-align:left" colspan="3">
      <% if user_signed_in? %>
      <%= button_to 'Add New Space', newspace_building_path(@building), :method => :get, :class => 'trackbutton', :remote => true %>
      <% end %>
    </td>
  </tr>
</table>
<% else %>
<table width="100%" style="border:1px solid orange">
  <tr>  
    <td style="text-align:center;font-size:.9em;color:#888888" width="100%" height="300px">
      Looks like we should add some spaces...
      <p>
      <% if user_signed_in? %>
      <%= button_to 'Add New Space for '+truncate(@building.address, :length => 20, :separator => ',', :omission => ''), newspace_building_path(@building), :method => :get, :class => 'button', :remote => true %>
      <% else %>
      <%= button_to 'Sign In to Add Space', new_user_session_path, :class => 'button' %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>