<% if @spaces.any? %>
<hr/>
<table width="100%">
  <tr>
    <td style="text-align:center" colspan="3">
      <% if user_signed_in? %>
      <%= link_to '(Add New Space)', new_building_space_path(@building) %>
      <% else %>
      <%= link_to 'Log In To Add Space', new_user_session_path %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="title">Spaces<br/><hr/></td>
  </tr>
  <tr height="8px"/>
  <% @spaces.each do |space| %>
  <tr>
    <td width="25%" class="lists_left"><%= link_to space.suite, building_space_path(@building,space) %></td>
    <td width="30%" class="lists_right"><%= space.sf %>sf</td>
    <td class="lists_right"><%= space.status %></td>
  </tr>
  <% end %>
</table>
<hr/>
<table>
  <tr>
    <td style="text-align:center">
      
      <% else %>
        Looks like we need to add some spaces!
      <br/>
      <% if user_signed_in? %>
      <%= link_to 'Add New Space', new_building_space_path(@building) %>
      <% else %>
      <%= link_to 'Log In To Add Space', new_user_session_path %>
      <% end %>

    </td>
  </tr>
</table>
<% end %>