<% if @spaces.any? %>

  <div style="background:#333333;color:#ffffff;padding:3px 8px">Spaces
    <div style="float:right">
      <% if user_signed_in? %>
        <%= button_to 'Add New Space', newspace_building_path(@building), :method => :get, :class => 'trackbutton', :remote => true %>
        <% else %>
      <%= button_to 'Sign In to Add Space', new_user_session_path, :class => 'trackbutton' %>
      <% end %>
    </div>
  </div>

  <div style="float:left;width:100%;border:1px solid orange;min-height:400px;padding:10px">

    <% @spaces.each do |space| %> 

    <table width="100%">
      <tr>
        <td>
          <div class="title" style="float:left;width:10%;padding:8px">
            <%= link_to space.suite, building_space_path(@building.id,space), :title => "Go to Space #{space.suite}" %>
          </div>
          <div style="width:15%;float:left;text-align:center;padding:8px" class="top_words">
            <%= space.sf %>sf
          </div>
          <div style="width:15%;float:left;text-align:center;padding:8px" class="top_words">
            $<%= space.monthly %>/mo
          </div>
          <div style="width:20%;float:left;text-align:center;padding:8px" class="top_words">
            <%= space.status %>
          </div>
          <div style="width:20%;float:left;text-align:center;padding:8px">
            <%= button_to 'Go To Space', building_space_path(@building.id,space), :class => 'trackbutton', :method => 'get' %>
          <div>
        </td>
      </tr>
    </table>
    <% end %>
  </div>

<% end %>