<head>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34365499-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<div class="logo">
  <%= link_to image_tag("FullLogoWhite.png", :size => "300x35"), newlearnmore_path %>
</div>
<%= form_for Building.new do |f| %>
  <div class="centerbox">
  </div>
      <div class='searchcontainer'>
      
              <div class="hometitle">
                find your building by address:
              </div>
              <table>
                <tr>
                  <td><%= f.text_field :address, :id => "addresspicker_map", :placeholder => '1020 Sun Down Way, Roseville', :class => 'search' %></td>
                  <td>
                    <div class="searchglass">
                      <%= image_submit_tag("MagGlass.png", :class => 'mag_glass', :title => 'Click this to look it up') %>
                    </div>
                  </td>
                </tr>
              </table>
              <%= f.hidden_field :latitude, :id => "lat" %>
              <%= f.hidden_field :longitude, :id => "lng" %>
              <%= f.hidden_field :street_number, :id => "street_number" %>
              <%= f.hidden_field :route, :id => "route" %>
              <%= f.hidden_field :locality, :id => "locality" %>
              <%= f.hidden_field :administrative_area_level_1, :id => "administrative_area_level_1" %>
              <%= f.hidden_field :administrative_area_level_2, :id => "administrative_area_level_2" %>
              <%= f.hidden_field :postal_code, :id => "postal_code" %>
              <%= f.hidden_field :country, :id => "country" %>
                <% if user_signed_in? %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <% end %>
          
              <div class="login">
                <%= link_to "Log In", new_user_session_path %>
              </div>
          
              <div class="logintwitter">
                <%= link_to "Learn More", newlearnmore_path %>
              </div>
      </div>
      
<% end %>
</body>