
<div class="logo">
  TrackingSpace
</div>
<%= form_for Building.new do |f| %>
  <div class="centerbox">
  </div>
      <div class='searchcontainer'>
              <div style="font-size:1.5em;font-weight:bold;text-transform:uppercase">
                Start Tracking...
              </div>
            
                <%= f.text_field :address, :id => "addresspicker_map", :placeholder => 'Find a Building by Address...', :class => 'search' %>
            
              <%= f.submit "GO!", :class => "searchgo" %>
              <%= f.hidden_field :latitude, :id => "lat" %>
              <%= f.hidden_field :longitude, :id => "lng" %>
                <% if user_signed_in? %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <% end %>
          
              <div class="login">
                <%= link_to "Log In", new_user_session_path %>
              </div>
          
              <div class="logintwitter">
                <%= link_to "Learn More", home_path %>
              </div>
           
      </div>
      
      
<% end %>