<html>
<div class="logo">
  TrackingSpace
</div>
<%= form_for Building.new do |f| %>
  <div class="centerbox">
  </div>
  <div class="hometitle">
    Start Tracking...
  </div>
      <div class='searchcontainer'>
      	<table width="100%">
          <tr>
            <td>
              <%= f.error_messages %>
              <%= f.text_field :address, :class => "search", :id => "addresspicker_map", :placeholder => 'Find a Building...'%>
            </td>
            <td width=60px">
              <%= f.submit "GO!", :class => "searchgo" %>
              <%= f.hidden_field :latitude, :id => "lat" %>
              <%= f.hidden_field :longitude, :id => "lng" %>
                <% if user_signed_in? %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <% end %>
            </td>
          </tr>
        </table>
      </div>
      <div class="login">
        <%= link_to "Log In", new_user_session_path %>
      </div>
      <div class="logintwitter">
        <%= link_to "Log In", '/auth/twitter' %> <%= image_tag "https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "25x25", :alt => "Twitter", :align => "Top" %>
      </div>
<% end %>

</html>