<html>

<%= form_for Building.new do |f| %>
  <div class="centerbox">
  </div>
  <div class="hometitle">
    Find Your Space...
  </div>
      <div class='searchcontainer'>
      	<%= f.error_messages %>
        <%= f.text_field :address, :class => "search", :id => "addresspicker_map", :placeholder => 'Enter a Complete Address To Find'%>
        <%= f.submit "GO!", :class => "searchgo" %>
        <%= f.hidden_field :latitude, :id => "lat" %>
        <%= f.hidden_field :longitude, :id => "lng" %>
          <% if user_signed_in? %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <% end %>
      </div>
      <div class="logintwitter">
        <%= link_to "Log In", new_user_session_path %>
      </div>
<% end %>

</html>