<p id="notice"><%= notice %></p>
<% unless mobile_device? %>
<%= gmaps4rails(@json) %>

<table>
  <tr>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buildings.each do |building| %>
  <tr>
    <td><%= building.address %></td>
    <td><%= link_to 'Show', building %></td>
    <td><%= link_to 'Edit', edit_building_path(building) %></td>
    <td><%= link_to 'Destroy', building, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<% if mobile_device? %>

<table>
  <tr>
    <th width=650px></th>
    <th width=70px>Spaces</th>
    <th width=70px>Posts</th>
    <th width=130px>Avg Rate</th>
  </tr>
</table>
<% @buildings.each do |building| %>
<table>
  <tr>
    <td width=650px><div id="building_mobile"><%= link_to truncate(building.address, :length => 35), building_path(building.id) %></div></td>
    <td width=70px align=center>
      <div id="greenwhite"><%= building.spaces.count %></div>
    </td>
    <td width=70px align=center>
      <div id="greenwhite"><%= building.microposts.count %></div>
    </td>
    <td width=130px align=center>
      <% unless building.spaces.empty? %>
      <div id="building_mobile"><%= number_to_currency(building.spaces.collect(&:monthly).inject(:+)/building.spaces.collect(&:sf).inject(:+)) %></div>
      <% end %>
    </td>
    <hr size=2>
  </tr>
</table>
<% end %>
<% end %>
<%= yield :scripts %>


