<p id="notice"><%= notice %></p>
<% unless mobile_device? %>
<%= gmaps4rails(@json) %>

<table>
  <tr>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buildings.each do |building| %>
  <tr>
    <td><%= building.address %></td>
    <td><%= link_to 'Show', building %></td>
    <td><%= link_to 'Edit', edit_building_path(building) %></td>
    <td><%= link_to 'Destroy', building, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<% if mobile_device? %>

<table>
  <% @buildings.each do |building| %>
  <tr>
    <div id="building"><%= link_to building.address, building_path(building.id) %></div><br/>
    <div id="name">Spaces: <%= building.spaces.count %> | Posts: <%= building.microposts.count %></div>
    <hr>
  </tr>
  <% end %>
</table>

<% end %>
<%= yield :scripts %>


