<%= currently_at 'Buildings' %>

<div class="pagetitle">my Building List</div>

<% unless mobile_device? %>

  <%= gmaps({
        "map_options" => {"auto_adjust" => true, "auto_zoom" => true, "type" => 'ROADMAP' },
        "markers" => {"data" => @json }
      })
      %>

  <table>
    <tr>
      <th>Address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @buildings.each do |building| %>
    <tr>
      <td><%= building.address %></td>
      <td><%= link_to 'Show', building %></td>
      <td><%= link_to 'Edit', edit_building_path(building) %></td>
      <td><%= link_to 'Destroy', building, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if mobile_device? %>


<table width="100%">
  <tr>
    <th width="70%"></th>
    <th width="8%">Spaces</th>
    <th width="8%">Posts</th>
    <th width="15%">Avg Rate</th>
  </tr>
<% @buildings.each do |building| %>
  <tr>
    <td width="70%"><div id="building_mobile"><%= link_to truncate(building.address, :length => 35), building_path(building.id) %></div></td>
    <td width="8%" style="text-align:center">
      <div id="greenwhite"><%= building.spaces.count %></div>
    </td>
    <td width="8%" style="text-align:center">
      <div id="greenwhite"><%= building.microposts.count %></div>
    </td>
    <td width="15%" style="text-align:center">
      <% unless building.spaces.empty? %>
      <div id="building_mobile"><%= number_to_currency(building.spaces.collect(&:monthly).inject(:+)/building.spaces.collect(&:sf).inject(:+)) %></div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <hr size="2">
    </td>
  </tr>
<% end %>
</table>

<% end %>
<%= yield :scripts %>


