<p id="notice"><%= notice %></p>
<% unless mobile_device? %>
<%= gmaps4rails(@json) %>

<table>
  <tr>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buildings.each do |building| %>
  <tr>
    <td><%= building.address %></td>
    <td><%= link_to 'Show', building %></td>
    <td><%= link_to 'Edit', edit_building_path(building) %></td>
    <td><%= link_to 'Destroy', building, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<% if mobile_device? %>

<% @buildings.each do |building| %>
<table>
  <th width=900px></th>
  <th>Spaces</th>
  <th>Posts</th>
  <th>Avg Rate</th>
  <tr>
    <td><div id="building_mobile"><%= link_to truncate(building.address, :length => 40), building_path(building.id) %></div></td>
    <td width=70px align=center>
      <div id="greenwhite"><%= building.spaces.count %></div>
    </td>
    <td width=70px align=center>
      <div id="greenwhite"><%= building.microposts.count %></div>
    </td>
    <td width=70px align=center>
      <% unless building.spaces.empty? %>
      <div id="building_mobile"><%= number_to_currency(building.spaces.collect(&:monthly).inject(:+)/building.spaces.collect(&:sf).inject(:+)) %></div>
      <% end %>
    </td>
  </tr>
</table>
<hr>
<% end %>

<% end %>
<%= yield :scripts %>


