<% currently_at 'Places' %>

<%= stylesheet_link_tag 'new_mobile' %>

<div style="position:fixed;margin-top:-40px;background:blue;color:white;height:80px;width:200px">
	Track It
</div>

<table width="100%">
	<tr>
		<td colspan="2">
			<div class="buildingtitle"><%= truncate(@building.address, :length => 20, :separator => ' ', :omission => '') %></div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= gmaps({
		  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
		  "markers" => {"data" => @json }
		})
		%>
		</td>
	</tr>
	<tr>
		<td width="50%">
			<div class="greybox">
				<div class="bigletters">  
					<% if @spaces.present? %>
					<%= number_to_currency(@spaces.collect(&:monthly).inject(:+)/@spaces.collect(&:sf).inject(:+)) %>
					<% else %>
					n/a
					<% end %>
				</div>
			<div class="bigletterdescriptor">Avg Rate</div>
			</div>
		</td>
		<td>
			<div class="badbox">
				<div class="bigletters">
					<% if @building.size %>
						$<%= number_to_human((@spaces.collect(&:sf))/@building.size) %>
					<% else %>
						n/a
					<% end %>
				</div>
			<div class="bigletterdescriptor">Pct Leased</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="whitebox">
				<div class="biglettersgray">  
					Broker
				</div>
			</div>
		</td>
		<td>
			<div class="goodbox">
				<div class="bigletters">
					<%= @spaces.count %>
				</div>
			<div class="bigletterdescriptor">Avail Spaces</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="badbox">
				<div class="bigletters">  
					<%= @building.microposts.count %>
				</div>
				<div class="bigletterdescriptor">Feed Count</div>
			</div>
		</td>
		<td>
			<div class="whitebox">
				<div class="biglettersgray">
					Manager
				</div>
			</div>
		</td>
	</tr>

</table>

<%= yield :scripts %>