<%= currently_at 'Buildings' %>

		<%= content_for :search do %>
			<% if mobile_device? %>
				<%= render 'buildings/form_new' %>
			<% end %>
		<% end %>

		<div style="float:left;position:absolute;margin-top:-33px;background:#ffffff">
			<div class="top_words" style="float:left;padding:0 5px">
				<%= render 'est_value' %>
			</div>
			<div class="top_words" style="float:right;padding:0 5px" id="avgrate">
				<%= render 'avg_rate' %>
			</div>
		</div>
			<div style="float:left;padding-right:20px" class="title">
			 <%= truncate(@building.address, :separator => ',', :omission => '') %>
			</div>
				
			<div style="float:right;margin-top:-5px">
			  		<%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "30x30", :alt => "Twitter"), "http://twitter.com/home?status=Found this on @trackingspace: http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with Twitter' %>
				  	<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "30x30"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with FaceBook' %>
			</div>

			<% if user_signed_in? %>
				<div>
					<div id="building_follow_form" style="width:100%">
						<% if current_user.building_following?(@building) %>
							<%= render 'pages/building_unfollow' %>
						<% else %>
							<%= render 'pages/building_follow' %>
						<% end %>
					</div>
				</div>
				<div style="float:left;font-size:.9em;color:#666666"><%= @building.address %></div>
			<% else %>
			<br/>
			<div style="float:left;font-size:.9em;color:#666666"><%= @building.address %></div>
			<% end %>
			
			<table width="100%">
				<tr>
					<td style="text-align:right">
						<div class="viewbuttoncontainer">
							<%= button_to 'Management', '#', :class => 'viewbutton', :remote => true, :method => 'get' %>
						</div>
						<div class="viewbuttoncontainer">
							<%= button_to 'News', '#', :class => 'viewbutton', :remote => true, :method => 'get' %>
						</div>
						<div class="viewbuttoncontainer">
							<%= button_to 'Details', '#', :class => 'viewbutton', :remote => true, :method => 'get' %>
						</div>
						<div class="viewbuttoncontainer">
									<% if @building.videourl.present? %>
									<%= button_to 'Video', videoview_building_path(@building.id), :class => 'viewbutton', :remote => true, :method => 'get' %>
									<% else %>
									<%= button_to '+Video', addvideo_building_path(@building.id), :class => 'trackbutton', :remote => true, :method => 'get', :title => 'Add a Video' %>
									<% end %>
						</div>
						<%= render 'spacestab' %>
						<div class="viewbuttoncontainer">
									<%= button_to 'Map', mapview_building_path(@building.id), :class => 'viewbutton', :remote => true, :method => 'get' %>

					</td>
				</tr>
			</table>
			<div id="buildingcenter" style="margin-top:5px;width:100%">
					<%= render 'buildingcenter' %>
			</div>

			<table width="100%">
				<tr>
					<td class="building_contact_ads"><%= render 'ads/slot1' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot2' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot3' %></td>
				</tr>
			</table>
			<hr/>
			
		<div class="feed">
			<% if user_signed_in? %>
			<h3>Add a comment about this building:</h3>
				<%= render '/shared/micropost_form' %>
			<% end %>
			<p/>
			<hr/>
			<% unless @building.microposts.empty? %>
				<div class="feeditems" id="feeditems">
					<%= render 'shared/feed' %>
				</div>
			<% end %>
		</div>

	<% unless mobile_device? %>
		<%= content_for :sidebar do %>
		<table>
			<tr>
				<td height="10px"/>
			</tr>
			<% if user_signed_in? %>
			<%= link_to "Edit Building", edit_building_path(@building) %>
			<% end %>
		</table>
			<% if user_signed_in? %>
	          <%= render 'shared/recent' %>
	        <% end %>
		<% end %>
	<% end %>


	<%= yield :scripts %>
