<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>

<table>
	<h1><%= @building.address %> 
		<% unless @building.spaces.empty? %>| Avg: <%= render 'avg_rate' %><% end %>
	</h1>
	
	<% if mobile_device? %>
	<tr>
		<%= gmaps({
		  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
		  "markers" => {"data" => @json }
		})
		%>
	</tr>
	<tr width="100%" align="justify" height="75px">
		<% if user_signed_in? %>
		<td><div class="greenbutton"><%= link_to 'Add Comment', mobile_post_path(:building_id => @building) %></div></td>
		<td><div class="greenbutton"><%= link_to 'See Spaces', listspace_path(:building_id => @building) %></div></td>
		<td><div class="greenbutton">Edit Building</div></td>
		<% end %>
		<% unless user_signed_in? %>
		<div id="announcement"><%= link_to 'Click Here to Log In With Twitter', '/auth/twitter' %></div>
		<% end %>
	</tr>
	<tr width="100%" valign=top>
		<% unless @building.microposts.empty? %>
			<%= render 'shared/feed' %>
		<% end %>
	</tr>

	<% end %>

	<% if not mobile_device? %>
	<tr>
		<td width="600px" valign=top >
		<% if user_signed_in? %>
		<h3>Add a comment about this building:</h3>
			<%= render '/shared/micropost_form' %>
		<% end %>
		<% unless @building.microposts.empty? %>
			<%= render 'shared/feed' %>
		<% end %>
	</td>
	
	
	<td width="20px">
	</td>
	<td width="300px" valign="top" align="center">
		<%= gmaps({
		  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
		  "markers" => {"data" => @json }
		})
		%>

		<p></p>
		<% if @building.spaces.any? %>
		<%= render 'spaces' %>
		<% end %>
		<p></p>
		<p></p>
			<script type="text/javascript"><!--
				google_ad_client = "ca-pub-5451064655705220";
				/* First */
				google_ad_slot = "8276506850";
				google_ad_width = 250;
				google_ad_height = 250;
				//-->
			</script>
			<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>

		<p></p>
		<%= link_to 'Edit', edit_building_path(@building) %> |
		<%= link_to 'Back', buildings_path %>

	</td>
	<% end %>
</tr>
<%= yield :scripts %>

</table>