
<div class="yield_container">
	<div id="yieldtitle"><%= @building.address %> | (<%= link_to 'Edit', edit_building_path(@building) %>)
	</div>

	<div class="contact_bar">
		<div class="info_box_title">
			Est. Valuation
		</div>
		<div class="info_box_title">
			Avg. Rate
		</div>
		<div class="info_box_title">
			Spaces
		</div>
		<div class="info_box_title">
			Posts
		</div>
		<div class="info_box">
			<%= render 'est_value' %>
		</div>
		<div class="info_box">
			<%= render 'avg_rate' %>
		</div>
		<div class="info_box">
			<% unless @building.spaces.empty? %>
				<%= @building.spaces.size %>
			<% else %>
				Add Space
			<% end %>
		</div>
		<div class="info_box">
			<%= @building.microposts.size %>
		</div>
	</div>

	<div class="map">
		<%= gmaps({
		  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
		  "markers" => {"data" => @json }
		})
		%>
	</div>
	<div class="contact_bar">
		<div class="contact_box_title">
			Owner
		</div>
		<div class="contact_box_title">
			Property Manager
		</div>
		<div class="contact_box_title">
			Brokerage Agency
		</div>
		<div class="contact_box_title">
			Landscaper
		</div>
		<div class="contact_box">
			Upgrade
		</div>
		<div class="contact_box">
			Add Yourself
		</div>
		<div class="contact_box">
			Add Yourself
		</div>
		<div class="contact_box">
			Add Yourself
		</div>
	</div>
	
	<% if mobile_device? %>

	<div class="buttons">
		<% if user_signed_in? %>
		<div class="greenbutton"><%= link_to 'Add Comment', mbuilding_post_path(@building) %></div>
		<div class="greenbutton"><%= link_to 'Track', '' %></div>
		<div class="greenbutton"><%= link_to 'Share', '' %></div>
		<div class="greenbutton"><%= link_to 'Add To Tour', '' %></div>
		<% end %>
		<% unless user_signed_in? %>
		<div id="announcement"><%= link_to 'Sign In To See More', new_user_session_path(:building_id => @building) %></div>
		<% end %>
	</div>

		<% unless @building.microposts.empty? %>
		<div class="feed">
			<%= render 'shared/feed' %>
		</div>
		<% end %>

	<% end %>

	<% if not mobile_device? %>

	
	<div class="yield_container">
		<div class="feed_heading">
			What's the Latest?
		</div>
		<div class="feed">
			<% if user_signed_in? %>
			<h3>Add a comment about this building:</h3>
				<%= render '/shared/micropost_form' %>
			<% end %>
			<% unless @building.microposts.empty? %>
				<%= render 'shared/feed' %>
			<% end %>
		</div>
		<div class="right">
			<% if @building.spaces.any? %>
			<%= render 'spaces' %>
			<% end %>
			<p></p>
			<script type="text/javascript"><!--
					google_ad_client = "ca-pub-5451064655705220";
					/* First */
					google_ad_slot = "8276506850";
					google_ad_width = 250;
					google_ad_height = 250;
					//-->
			</script>
			<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	<div class="clear"></div>
	</div>	
	<% end %>
<div class="clear"></div>
</div>
<%= yield :scripts %>