<table>
	<tr>
	<h1><%= @building.address %></h1>
	<hr>
	<% if mobile_device? %>
	<td width="100%">
		<tr>
			Spaces: <%= @building.spaces.count %>
		</tr>
		<%= render '/shared/micropost_form' %>
		<% unless @building.microposts.empty? %>
		Posts: <%= @building.microposts.count %>
		<br/>
		<%= render 'shared/feed' %>
		<% end %>
	</td>
	<% end %>

	<% if not mobile_device? %>
	<td width="600px">
		<%= render '/shared/micropost_form' %>
		<% unless @building.microposts.empty? %>
		Posts: <%= @building.microposts.count %>
		<br/>
		<%= render 'shared/feed' %>
		<% end %>
	</td>

	
	<td width="20px">
	</td>
	<td width="300px" vertical-align:"top">
		
		<%= gmaps({
		  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
		  "markers" => {"data" => @json }
		})
		%>
		<hr>
		<% if @building.spaces.any? %>
		Spaces
		<%= render 'spaces' %>
		<%= link_to 'Add New Space', new_building_space_path(@building) %>
		<% end %>


		<%= link_to 'Edit', edit_building_path(@building) %> |
		<%= link_to 'Back', buildings_path %>

	</td>
	<% end %>
</tr>
<%= yield :scripts %>
</table>