<%= currently_at 'Buildings' %>

		<%= content_for :search do %>
						<%= render 'buildings/form_new' %>
		<% end %>
			<table width="100%">
				<tr>
					<% if user_signed_in? %>
						<td width="50px">
							<div id="building_follow_form">
								<% if current_user.building_following?(@building) %>
									<%= render 'pages/building_unfollow' %>
								<% else %>
									<%= render 'pages/building_follow' %>
								<% end %>
							</div>
						</td>
					<td colspan="2">
					<% else %>
					<td>
						<%= button_to 'Sign-In', new_user_session_path, :class => 'button' %>
					</td>
					<td colspan="2">
					<% end %>
					</td>
					<td style="text-align:right" width="60px">
						<% unless mobile_device? %>
					  		<%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "30x30", :alt => "Twitter"), "http://twitter.com/home?status=Saw this on Trackingspace: http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with Twitter' %>
						  	<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "30x30"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with FaceBook' %>
						<% else %>
							<%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "50x50", :alt => "Twitter"), "http://twitter.com/home?status=Saw this on Trackingspace: http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with Twitter' %>
						  	<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "50x50"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with FaceBook' %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="title">
						<%= truncate(@building.address, :length => 20, :separator => ',', :omission => '') %>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="font-size:.7em;text-align:center"><%= @building.address %></td>
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
				<tr>
					<td >
						<div class="top_words">
							<%= render 'est_value' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= render 'avg_rate' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= @spaces.count %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= @building.microposts.count %>
						</div>
					</td>
				</tr>
				<tr>
					<td width="25%" style="font-size:0.8em;text-align:center">Rough Value Estimate</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Average Rate</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Current Spaces</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Activity</td>
				</tr>
			</table>
			<hr/>	
			<table width="100%">
				<tr>
						<td colspan="4">
						<%= gmaps({
						  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
						  "markers" => {"data" => @json }
						})
						%>
					</td>
				</tr>
			</table>

			<table width="100%">
				<tr>
					<td class="building_contact_ads"><%= render 'ads/slot1' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot2' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot3' %></td>
				</tr>
			</table>
			<hr/>

		<% if mobile_device? %>
			<%= render 'buildings/spaces' %>
		<% end %>
			
		<div class="feed">
			<% if user_signed_in? %>
			<h3>Add a comment about this building:</h3>
				<%= render '/shared/micropost_form' %>
			<% end %>
			<p/>
			<hr/>
			<% unless @building.microposts.empty? %>
				<div class="feeditems" id="feeditems">
					<%= render 'shared/feed' %>
				</div>
			<% end %>
		</div>

	<%= content_for :sidebar do %>
		<% if user_signed_in? %>
          <%= render 'shared/recent' %>
        <% end %>
        <%= render 'buildings/spaces' %>
	<% end %>


	<%= yield :scripts %>
