<%= currently_at 'Buildings' %>

		<%= content_for :search do %>
						<%= render 'buildings/form_new' %>
		<% end %>
			<table width="100%">
				<tr>
					<% if user_signed_in? %>
						<td width="80px">
							<div id="building_follow_form">
								<% if current_user.building_following?(@building) %>
									<%= render 'pages/building_unfollow' %>
								<% else %>
									<%= render 'pages/building_follow' %>
								<% end %>
							</div>
						</td>
					<td colspan="2" class="title"><%= truncate(@building.address, :length => 20, :separator => ',', :omission => '') %></td>
					<% else %>
					<td>
						<%= button_to 'Sign-In', new_user_session_path, :class => 'button' %>
					</td>
					<td colspan="2" class="title"><%= truncate(@building.address, :length => 20, :separator => ',', :omission => '') %></td>
					<% end %>
					</td>
					<td style="text-align:right" width="80px">
					  		<%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "30x30", :alt => "Twitter"), "http://twitter.com/home?status=@trackingspace Found this on Trackingspace: http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with Twitter' %>
						  	<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "30x30"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with FaceBook' %>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="font-size:.9em;text-align:center"><%= @building.address %></td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
				<tr>
					<td >
						<div class="top_words">
							<%= render 'est_value' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= render 'avg_rate' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= @spaces.count %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= @building.microposts.count %>
						</div>
					</td>
				</tr>
				<tr>
					<td width="25%" style="font-size:0.8em;text-align:center">Rough Value Estimate</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Average Rate</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Current Spaces</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Activity</td>
				</tr>
			</table>
			<hr/>	
			<table width="100%">
				<tr>
						<td colspan="4">
						<%= gmaps({
						  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
						  "markers" => {"data" => @json }
						})
						%>
					</td>
				</tr>
			</table>

			<table width="100%">
				<tr>
					<td class="building_contact_ads"><%= render 'ads/slot1' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot2' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot3' %></td>
				</tr>
			</table>
			<hr/>

		<% if mobile_device? %>
			<%= render 'buildings/spaces' %>
		<% end %>
			
		<div class="feed">
			<% if user_signed_in? %>
			<h3>Add a comment about this building:</h3>
				<%= render '/shared/micropost_form' %>
			<% end %>
			<p/>
			<hr/>
			<% unless @building.microposts.empty? %>
				<div class="feeditems" id="feeditems">
					<%= render 'shared/feed' %>
				</div>
			<% end %>
		</div>

	<% unless mobile_device? %>
		<%= content_for :sidebar do %>
		<table>
			<tr>
				<td width="250px" style="border-radius:8px;border:2px dashed #888888;text-align:center;padding:8px"><%=link_to image_tag("topsecret.gif", :size => '180x150'), new_user_session_path, :title => 'Members can update building data - premium members have access to greater data.' %></td>
			</tr>
			<tr>
				<td height="10px"/>
			</tr>
			<% if user_signed_in? %>
			<%= link_to "Edit Building", edit_building_path(@building) %>
			<% end %>
			<% if @building.videourl.present? %>
			<tr>
				<td width="250px">
					<iframe width="250" height="141" src="<%= "http://www.youtube.com/embed/"+@building.videourl+"?autoplay=1" %>" frameborder="0"></iframe>
				</td>
			</tr>
			<% end %>
		</table>
			<%= render 'buildings/spaces' %>
			<% if user_signed_in? %>
	          <%= render 'shared/recent' %>
	        <% end %>
		<% end %>
	<% end %>


	<%= yield :scripts %>
