<%= currently_at 'Places' %>

		<%= content_for :search do %>
			<% if mobile_device? %>
				<%= render 'buildings/form_new_mobile' %>
			<% elsif user_signed_in? %>
			<% else %>
				<div style="width:100%">
			      <div style="background:#FFFF7E;padding:8px;text-align:center;box-shadow:5px 5px 5px #888">With membership, you can see and do more with this building -> <%= link_to 'Click Here', new_user_registration_path %></td>
			      </div>
			    </div>
			<% end %>
		<% end %>

		<div class="bluebox">
			<div style="width:100%;font-family:'Syncopate';text-align:left" class="boxtitle">
			 <%= truncate(@building.address, :separator => ',', :omission => '') %>

			 <div style="float:right;font-size:1.2em;margin-top:-10px" id="building_follow_form">
							<% if current_user.building_following?(@building) %>
								<%= render 'pages/building_unfollow' %>
							<% else %>
								<%= render 'pages/building_follow' %>
							<% end %>
					</div>
			</div>
				

			<% if user_signed_in? %>
				<div style="float:left;width:100%">
					<%= render 'buildings/buildingstats' %>
					
				</div>
			<% else %>
			<br/>
			<div style="float:left;font-size:.9em;color:#666666"><%= @building.address %></div>
			<% end %>

			
			<table width="100%">
				<tr>
					<td style="text-align:right">
						<div class="viewbuttoncontainer">
							<%= button_to 'Management', management_building_path(@building.id), :class => 'viewbutton', :remote => true, :method => 'get' %>
						</div>
						<div class="viewbuttoncontainer">
							<%= button_to 'News', comingsoon_building_path(@building.id), :class => 'viewbutton', :remote => true, :method => 'get' %>
						</div>
						<div class="viewbuttoncontainer">
							<%= button_to 'Details', comingsoon_building_path(@building.id), :class => 'viewbutton', :remote => true, :method => 'get' %>
						</div>
						<div class="viewbuttoncontainer">
									<% if @building.videourl.present? %>
									<%= button_to 'Video', videoview_building_path(@building.id), :class => 'viewbutton', :remote => true, :method => 'get' %>
									<% else %>
									<%= button_to '+Video', addvideo_building_path(@building.id), :class => 'trackbutton', :remote => true, :method => 'get', :title => 'Add a Video' %>
									<% end %>
						</div>
						<%= render 'spacestab' %>
						<div class="viewbuttoncontainer">
									<%= button_to 'Map', mapview_building_path(@building.id), :class => 'viewbutton', :remote => true, :method => 'get' %>

					</td>
				</tr>
			</table>
			<div id="buildingcenter" style="margin-top:5px;width:100%">
					<%= render 'buildingcenter' %>
			</div>

			<table width="100%">
				<tr>
					<td class="building_contact_ads"><%= render 'ads/slot1' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot2' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot3' %></td>
				</tr>
			</table>
			<hr/>
		</div>
		<div class="bluebox">
			<div class="feed">
				<% if user_signed_in? %>
				<h3>Add a comment about this building:</h3>
					<%= render '/shared/micropost_form' %>
				<% end %>
				<p/>
				<hr/>
				<% unless @building.microposts.empty? %>
					<div class="feeditems" id="feeditems">
						<%= render 'shared/feed' %>
					</div>
				<% end %>
			</div>
		</div>

	<% unless mobile_device? %>
		<%= content_for :sidebar do %>
			<% if user_signed_in? %>
	          <%= render 'shared/recent' %>
	        <% end %>
		<% end %>
	<% end %>


	<%= yield :scripts %>
