<%= currently_at 'Buildings' %>

		<section id="search">
			<table>
				<tr>
					<td>
						Find a Building:
					</td>
					<td>
						<%= render 'buildings/form_new' %>
					</td>
				</tr>
			</table>
		</section>

			<table width="100%">
				<tr>
					<td colspan="4"><h2><%= @building.address %></h2></td>
				</tr>
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
				<tr>
					<td >
						<div class="top_words">
							<%= render 'est_value' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= render 'avg_rate' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							0
						</div>
					</td>
					<td >
						<div class="top_words">
							50
						</div>
					</td>
				</tr>
				<tr>
					<td width="20%" style="font-size:0.8em;text-align:center">Estimated Value</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Average Rate</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Hype Score</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Validity Score</td>
				</tr>
			</table>
			<hr/>	
			<table width="100%">
				<tr height="8px"/>
				<tr>
					<% if user_signed_in? %>
						<td width="33%">
							<div class="add">Comment</button>
						</td>
						<td width="33%">
							<div class="add">Track It</button>
						</td>
						<td width="33%">
							<div class="add">Share It</button>
						</td>
					<% else %>
						<td><%= link_to 'Sign in for more options', new_user_registration_path, :class => 'add' %></td>
					<% end %>
				</tr>
				<tr>
						<td colspan="4">
						<%= gmaps({
						  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
						  "markers" => {"data" => @json }
						})
						%>
					</td>
				</tr>
			</table>

			<table width="100%">
				<tr class="contact_box_title">
					<th>Contact</th>
					<th>Property Manager</th>
					<th>Brokerage Agency</th>
					<th>Landscaper</th>
				</tr>
				<tr class="contact_box">
					<td><%= link_to 'Add Yourself', '' %></td>
					<td><%= link_to 'Add Yourself', '' %></td>
					<td><%= link_to 'Add Yourself', '' %></td>
					<td><%= link_to 'Add Yourself', '' %></td>
				</tr>
			</table>

	<% if mobile_device? %>

		<table width="100%">
			<tr>
          <td>
            <script type="text/javascript"><!--
              google_ad_client = "ca-pub-5451064655705220";
              /* First */
              google_ad_slot = "8276506850";
              google_ad_width = 250;
              google_ad_height = 250;
              //-->
            </script>
            <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </td>
          <td>
            <script type="text/javascript"><!--
              google_ad_client = "ca-pub-5451064655705220";
              /* First */
              google_ad_slot = "8276506850";
              google_ad_width = 250;
              google_ad_height = 250;
              //-->
            </script>
            <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </td>
        </tr>
		</table>

		<% unless @building.microposts.empty? %>
			<div class="feed">
				<%= render 'shared/feed' %>
			</div>
		<% end %>
	<% end %>

	<% if not mobile_device? %>

			
				<div class="feed">
					<% if user_signed_in? %>
					<h3>Add a comment about this building:</h3>
						<%= render '/shared/micropost_form' %>
					<% end %>
					<% unless @building.microposts.empty? %>
						<div class="feeditems">
							<%= render 'shared/feed' %>
						</div>
					<% end %>
				</div>
	<% end %>

	<%= content_for :sidebar do %>
		<% if user_signed_in? %>
          <%= render 'shared/recent' %>
        <% end %>
	<% end %>

	<%= content_for :left do %>
		<%= render 'shared/recent' %>
	<% end %>


	<%= yield :scripts %>
