<%= currently_at 'Buildings' %>

		<%= content_for :search do %>
			<% if mobile_device? %>
				<%= render 'buildings/form_new' %>
			<% end %>
		<% end %>
		
		<div style="width:100%">
			<div style="float:left;padding-right:20px" class="title">
			 <%= truncate(@building.address, :length => 20, :separator => ',', :omission => '') %>
			</div>
				<div>
					<% if user_signed_in? %>
					<div id="building_follow_form">
						<% if current_user.building_following?(@building) %>
							<%= render 'pages/building_unfollow' %>
						<% else %>
							<%= render 'pages/building_follow' %>
						<% end %>
					</div>
					<% end %>
				</div>
					<div style="float:right;margin-top:-25px" width="75px">
					  		<%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "30x30", :alt => "Twitter"), "http://twitter.com/home?status=@trackingspace Found this on Trackingspace: http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with Twitter' %>
						  	<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "30x30"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank', :title => 'Share with FaceBook' %>
					</div>
					<div style="font-size:.9em;color:#666666;text-align:left"><%= @building.address %></div>
			<table width="100%">
				<tr>
					<td width="25%">
							<div class="top_words">
								<%= render 'est_value' %>
							</div>
						</td>
						<td width="12%">
							<div class="top_words" id="avgrate">
								<%= render 'avg_rate' %>
							</div>
						</td>
					<td style="text-align:right">
						<div class="viewbuttoncontainer">
							<%= button_to 'News', '#', :class => 'viewbutton', :remote => true, :method => 'get' %>
						</div>
						<div class="viewbuttoncontainer">
							<%= button_to 'Details', '#', :class => 'viewbutton', :remote => true, :method => 'get' %>
						</div>
						<div class="viewbuttoncontainer">
									<% if @building.videourl.present? %>
									<%= button_to 'Video', videoview_building_path(@building.id), :class => 'viewbutton', :remote => true, :method => 'get' %>
									<% else %>
									<%= button_to '+Video', '#', :class => 'trackbutton', :remote => true, :method => 'get', :title => 'Add a Video' %>
									<% end %>
						</div>
						<%= render 'spacestab' %>
						<div class="viewbuttoncontainer">
									<%= button_to 'Map', mapview_building_path(@building.id), :class => 'viewbutton', :remote => true, :method => 'get' %>

					</td>
				</tr>
			</table>
			<div id="buildingcenter">
				<% if @building.videourl.present? %>
					<%= render 'videoview' %>
				<% else %>
				<%= gmaps({
				  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
				  "markers" => {"data" => @json }
				})
				%>
				<% end %>
			</div>

			<table width="100%">
				<tr>
					<td class="building_contact_ads"><%= render 'ads/slot1' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot2' %></td>
					<td class="building_contact_ads"><%= render 'ads/slot3' %></td>
				</tr>
			</table>
			<hr/>

		<% if mobile_device? %>
			<%= render 'buildings/spaces' %>
		<% end %>
			
		<div class="feed">
			<% if user_signed_in? %>
			<h3>Add a comment about this building:</h3>
				<%= render '/shared/micropost_form' %>
			<% end %>
			<p/>
			<hr/>
			<% unless @building.microposts.empty? %>
				<div class="feeditems" id="feeditems">
					<%= render 'shared/feed' %>
				</div>
			<% end %>
		</div>

	<% unless mobile_device? %>
		<%= content_for :sidebar do %>
		<table>
			<tr>
				<td height="10px"/>
			</tr>
			<% if user_signed_in? %>
			<%= link_to "Edit Building", edit_building_path(@building) %>
			<% end %>
		</table>
			<% if user_signed_in? %>
	          <%= render 'shared/recent' %>
	        <% end %>
		<% end %>
	<% end %>


	<%= yield :scripts %>
