<%= currently_at 'Buildings' %>

		<%= content_for :search do %>
						<%= render 'buildings/form_new' %>
		<% end %>

		<%= content_for :left do %>
			<%= render 'buildings/new_buildings' %>
		<% end %>

			<table width="100%">
				<tr>
					<td colspan="4" style="text-align:center">
						<% if user_signed_in? %>
							<%= link_to 'Add Space', new_building_space_path(@building) %> |
							<%= link_to 'Update Building Info', edit_building_path(@building.id) %> | 
						<% else %>
							<%= link_to 'Sign-In to Add Space and Update Building Info', new_user_session_path %> |
						<% end %>
						<%= link_to 'Show Spaces', '' %>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="title"><%= truncate(@building.address, :length => 20, :separator => ',', :omission => '') %></td>
				</tr>
				<tr>
					<td colspan="4" style="font-size:.7em;text-align:center"><%= @building.address %></td>
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
				<tr>
					<td >
						<div class="top_words">
							<%= render 'est_value' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= render 'avg_rate' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							0
						</div>
					</td>
					<td >
						<div class="top_words">
							50
						</div>
					</td>
				</tr>
				<tr>
					<td width="25%" style="font-size:0.8em;text-align:center">Estimated Value</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Average Rate</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Hype Score</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Validity Score</td>
				</tr>
			</table>
			<hr/>	
			<table width="100%">
				<tr height="8px"/>
				<tr>
					<% if user_signed_in? %>
						<td width="33%">
							<div class="add">Comment</button>
						</td>
						<td width="33%">
							<div class="add">Track It</button>
						</td>
						<td width="33%">
							<div class="add">Share It</button>
						</td>
					<% else %>
						<td width="100%" style="text-align:center"><%= link_to 'Sign-In to Start Tracking, Add Comments and Share', new_user_session_path %></td>
					<% end %>
				</tr>
				<tr height="10px"/>
				<tr>
						<td colspan="4">
						<%= gmaps({
						  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
						  "markers" => {"data" => @json }
						})
						%>
					</td>
				</tr>
			</table>

			<table width="100%">
				<tr class="contact_box_title">
					<th>Contact</th>
					<th>Property Manager</th>
					<th>Brokerage Agency</th>
					<th>Landscaper</th>
				</tr>
				<tr class="contact_box">
					<td><%= link_to 'Add Yourself', '' %></td>
					<td><%= link_to 'Add Yourself', '' %></td>
					<td><%= link_to 'Add Yourself', '' %></td>
					<td><%= link_to 'Add Yourself', '' %></td>
				</tr>
			</table>

		<% if mobile_device? %>
			<%= render 'layouts/mobile_ads' %>
		<% end %>

			
		<div class="feed">
			<% if user_signed_in? %>
			<h3>Add a comment about this building:</h3>
				<%= render '/shared/micropost_form' %>
			<% end %>
			<% unless @building.microposts.empty? %>
				<div class="feeditems">
					<%= render 'shared/feed' %>
				</div>
			<% end %>
		</div>

	<%= content_for :sidebar do %>
		<% if user_signed_in? %>
          <%= render 'shared/recent' %>
        <% end %>
	<% end %>

	<%= content_for :left do %>
		<%= render 'shared/recent' %>
	<% end %>


	<%= yield :scripts %>
