<%= currently_at 'Buildings' %>

		<%= content_for :search do %>
						<%= render 'buildings/form_new' %>
		<% end %>

		<%= content_for :left do %>
			<%= render 'buildings/new_buildings' %>
		<% end %>

			<table width="100%">
				<tr>
					<td colspan="4" style="text-align:center">
						<% if user_signed_in? %>
							<% if @spaces.empty? %>
							<%= link_to 'Add a Space', new_building_space_path(@building) %> |
							<% end %>
							<% if @building.size %>
							<%= number_with_precision(@building.size,:precision => 0) %> sq.ft.
							<% end %>
							(<%= link_to 'Update Building Size', edit_building_path(@building.id) %>)
						<% else %>
							<%= link_to 'Sign-In to Add Space and Update Building Info', new_user_session_path %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="title"><%= truncate(@building.address, :length => 20, :separator => ',', :omission => '') %></td>
				</tr>
				<tr>
					<td colspan="4" style="font-size:.7em;text-align:center"><%= @building.address %></td>
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
				<tr>
					<td >
						<div class="top_words">
							<%= render 'est_value' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= render 'avg_rate' %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= @spaces.count %>
						</div>
					</td>
					<td >
						<div class="top_words">
							<%= @building.microposts.count %>
						</div>
					</td>
				</tr>
				<tr>
					<td width="25%" style="font-size:0.8em;text-align:center">Rough Value Estimate</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Average Rate</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Current Spaces</td>
					<td width="15%" style="font-size:0.8em;text-align:center">Activity</td>
				</tr>
			</table>
			<hr/>	
			<table width="100%">
				<tr height="8px"/>
				<tr>
					<% if user_signed_in? %>
						<td>
							<div class="add"><%= link_to 'Track This Building', '' %></button>
						</td>
					<% else %>
						<td width="100%" style="text-align:center"><%= link_to 'Sign-In to Start Tracking, Add Comments and Share', new_user_session_path %></td>
					<% end %>
				</tr>
				<tr>
						<td colspan="4">
						<%= gmaps({
						  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
						  "markers" => {"data" => @json }
						})
						%>
					</td>
				</tr>
			</table>

			<table width="100%">
				<tr>
					<td class="building_contact_ads"><%= link_to 'You the Listing Broker?', '' %></td>
					<td class="building_contact_ads"><%= link_to 'Broker? Add Your Name', '' %></td>
					<td class="building_contact_ads"><%= link_to 'You the Property Manager?', '' %></td>
				</tr>
			</table>
			<hr/>

		<% if mobile_device? %>
			<%= render 'layouts/mobile_ads' %>
			<hr/>
			<%= render 'buildings/spaces' %>
		<% end %>
			
		<div class="feed">
			<% if user_signed_in? %>
			<h3>Add a comment about this building:</h3>
				<%= render '/shared/micropost_form' %>
			<% end %>
			<p/>
			<hr/>
			<% unless @building.microposts.empty? %>
				<div class="feeditems">
					<%= render 'shared/feed' %>
				</div>
			<% end %>
		</div>

	<%= content_for :sidebar do %>
		<% if user_signed_in? %>
          <%= render 'shared/recent' %>
        <% end %>
        <%= render 'buildings/spaces' %>
	<% end %>


	<%= yield :scripts %>
