<p id="notice"><%= notice %></p>

<h1><%= @building.address %></h1>

<% if @building.spaces.any? %>
Spaces
<%= render 'spaces' %>
<%= link_to 'Add New Space', new_building_space_path(@building) %>
<% end %>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>

<%= gmaps4rails(@json) %>

<%= yield :scripts %>