<head>
    <%= stylesheet_link_tag 'application' %>
    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34365499-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</head>
<body>
    <div style="float:left;height:50px;padding:8px 10px 8px 60px">
        <%= image_tag("logo_ts.png", :size => "40x40") %>
    </div>
    <div style="float:left;padding-top:25px" class="title">TrackingSpace
    </div>
    <div style="float:right;padding:25px 60px 0 0">
        <%= link_to 'Sign-In', new_user_session_path, :class => 'trackbutton', :style => 'color:white;text-decoration:none', :method => 'get' %>
    </div>
    <div style="float:right;padding:25px 8px 0 0">
        <%= link_to 'Become a Member', new_user_registration_path, :class => 'trackbutton', :style => 'color:white;text-decoration:none', :method => 'get' %>
    </div>


<div style="float:left;margin-top:60px">
	<div>
	<% if notice %>
		<p class="notification notice">
			<%= notice %>
		</p>
	<% end %>
	<% if alert %>
		<p class="notification alert">
			<%= alert %>
		</p>
	<% end %>
</div>

<div style="margin: 25px 0 20px auto; width:600px; border:1px solid #888888;padding:10px;text-align:center" class="title">
	Sign In Below.
</div>	

<div class="form_box" style="margin:0 auto">

<table width="100%">
	<tr>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<td style="text-align:right">
			  <div class="field"><%= f.label :email %>
		</td>
		<td style="text-align:left;padding-left:10px">
			<%= f.email_field :email, :class => 'field' %></div>
		</td>
	</tr>
	<tr>
		<td style="text-align:right">
			<div class="field"><%= f.label :password %>
		</td>
		<td style="text-align:left;padding-left:10px">
			<%= f.password_field :password, :class => 'field' %></div>
		</td>
	</tr>
	<tr>
		<td>
			<% unless devise_mapping.rememberable? -%>
			    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
			<% end -%>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center;padding:10px">
			<div><%= f.submit "Sign in", :class => 'trackbutton' %></div>
			<% end %>
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr/></td>
	</tr>
	<tr>
		<td style="vertical-align:middle;text-align:right">Or Sign In With:</td>
		<td style="text-align:left;padding-left:30px"><%= render 'twitter_sign_in' %><%= render 'facebook_sign_in' %><%= render 'linkedin_sign_in' %></td>
	</tr>
</table>
<p/>
<hr/>
<p/>
<%= render :partial => "devise/shared/links" %>

</div>
</div>

</body>