<div class="form_box">

  <%= form_for ([@space, @lease]), :html => { :multipart => true } do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.hidden_field :space_id, :value => @space.id %>
  
  <div class="field">
    <%= f.label :size %>
    <%= f.number_field :size, :class => 'field', :placeholder => 'How big is the space?...' %>
  </div>
  <div class="field">
    <%= f.label 'Monthly Total' %>
    <%= f.text_field :current_rate, :class => 'field', :placeholder => 'Amount you pay each month...' %>
  </div>
  <div class="field">
    <%= f.label :expiration %>
    <%= f.date_select(:expiration,{:end_year => Time.now.year + 15, :start_year => Time.now.year}, {:class => 'field'}) %>
  </div>
  <div class="field">
    <%= f.label 'Upload a Copy of the Lease' %>
  <%= f.file_field(:file, {:class => 'field'}) %>
  </div>
  <div class="actions">
    <%= f.submit 'Add It!', :class => 'button' %>
  </div>
<% end %>

</div>
