<%= form_for ([@space, @lease]), :html => { :multipart => true } do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id, :value => @current_user.id %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :current_rate %><br />
    <%= f.text_field :current_rate %>
  </div>
  <div class="field">
    <%= f.label :expiration %><br />
    <%= f.date_select :expiration %>
  </div>
  <div class="field">
    <%= f.label :space_id %><br />
    <%= f.number_field :space_id, :value => @space.id %>
  </div>
  <div class="field">
  <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
