<div style="padding:40px">

  <%= form_for ([@space, @lease]), :html => { :multipart => true } do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.hidden_field :space_id, :value => @space.id %>
  
  <table>
    <tr>
      <td width="300">Size of Space (sf)</td>
      <td width="300"><%= f.label 'Monthly Total' %></div></td>
    </tr>
    <tr height="20px">
      <td ><%= f.number_field :size, :placeholder => 'How big is the space?...', :value => @space.sf %>
      <td> <%= f.text_field :current_rate, :placeholder => 'Amount you pay each month...', :value => @space.monthly %></td>
    </tr>
    <tr>
      <td colspan="2">Expiration: <%= f.date_select(:expiration,{:end_year => Time.now.year + 15, :start_year => Time.now.year}, {:class => 'field'}) %></td>
    </tr>
    <tr>
      <td><%= f.label 'Upload a Copy of the Lease' %></td>
      <td><%= f.file_field(:file, {:class => 'field'}) %></td>
    </tr>
    <tr height="20px"/>
    <tr>
      <td colspan="2"><%= f.submit 'Save', :class => 'button' %></td>
    </tr>
  </table>
<% end %>

</div>