<h3>myLeases</h3>

<table>
  <tr>
    <th></th>
    <th width="20px"/>
    <th>Address</th>
    <th width="20px"/>
    <th>Suite</th>
    <th width="20px"/>
    <th>Expiration</th>
    <th width="20px"/>
    <th>Monthly</th>
    <th></th>
    <th></th>
  </tr>

<% if @leases %>
  <% @leases.each do |lease| %>
    <tr height="30px">
      <td><%= link_to 'View', space_lease_path(lease.space,lease.id) %></td>
      <td width="20px"/>
      <td><%= link_to truncate(lease.space.building.address, :separator => ','), building_path(lease.space.building) %></td>
      <td width="20px"/>
      <td><%= link_to lease.space.suite, building_space_path(lease.space.building,lease.space) %></td>
      <td width="20px"/>
      <td><%= l lease.expiration %></td>
      <td width="20px"/>
      <td><%= number_to_currency(lease.current_rate) %></td>
      <td width="20px"/>
      <td><%= link_to 'Edit', edit_space_lease_path(lease.space,lease) %></td>
    </tr>
  <% end %>
<% else %>
  If you wanted to keep track of your leases, this is where you'd do it.
<% end %>

</table>
