<div class="pagetitle">Editing lease for <%= @space.building.address %>
<br/>Suite <%= @space.suite %></div>

<%= render 'form' %>

<%= link_to 'Show', space_lease_path %> |
<%= link_to 'Back', space_lease_path %>
