<% currently_at 'Places' %>

<div class="pagetitle">Edit Lease for <%= @space.building.address %> | Suite <%= @space.suite %></div>

<%= render 'form' %>

<%= link_to 'Show', space_lease_path %> |
<%= link_to 'Back', space_lease_path %>
