<p id="notice"><%= notice %></p>

<div class="usercontainer">
  <div class="lease_left">
    <object data='<%= @lease.file %>' type='application/pdf' width='500px' height='600px'>
  <p>
    It appears your Web browser is not configured to display PDF files. 
    No worries, just <%= link_to 'click here to download the PDF file.', @lease.file.url %>
  </p>
</object>
  </div>

  <div class="lease_right">

<p>
  <b>Lease:</b>
  <%= image_tag @lease.file.url(:thumb) %>
  <%= link_to 'Click Here to Download', @lease.file.url %>
</p>

<p>
  <b>Size:</b>
  <%= @lease.size %>
</p>

<p>
  <b>Current rate:</b>
  <%= @lease.current_rate %>
</p>

<p>
  <b>Expiration:</b>
  <%= @lease.expiration %>
</p>

<p>
  <b>Space:</b>
  <%= @lease.space_id %>
</p>


<%= link_to 'Edit', edit_space_lease_path(@lease) %> |
<%= link_to 'Back', space_leases_path %>

</div>

<div class="clear"/>
</div>