<%= currently_at 'Places' %>

<% if @auth == true %>

<div class="bluebox" style="height:100px">
	<div class="boxtitle" style="margin-bottom:10px">lease</div>

	<div style="float:right;margin-top:-40px">
		<%= link_to 'Edit', edit_space_lease_path(@space,@lease) %> |
		<%= link_to 'Download Copy', @lease.file.url %> |
		<%= link_to 'See Space', building_space_path(@space.building_id,@space) %>
	</div>

	<div style="float:left;position:relative;margin-bottom:10px" class="title">
		<%= link_to truncate(@lease.space.building.address, :separator => ',', :omission => ''), building_path(@lease.space.building) %><br/> Suite: <%= @lease.space.suite %>
	</div>

	<div style="float:left;position:absolute;right:0;margin:32px 300px 0 0">
		<div class="top_words" style="float:left;padding:0 5px">
			Exp: <%= l @lease.expiration %>
		</div>
		<div class="top_words" style="float:left;padding:0 5px" id="avgrate">
			<%= number_to_currency(@lease.current_rate) %>/mo
		</div>
		<div class="top_words" style="float:left;padding:0 5px" id="avgrate">
			<%= number_with_delimiter(@lease.size) %>sf
		</div>
	</div>
	
</div>
	<div class="bluebox">
		<div class="boxtitle" style="width:320px">Who can access this lease?</div>
		<div style="float:right;padding-left:20px;margin-top:-30px">
			<%= form_tag(:controller => 'lease_shares', :action => 'create') do %>
			<%= email_field_tag :email %>
			<%= hidden_field_tag :lease, @lease.id %>
			<%= hidden_field_tag :space, @space.id %>
			<%= submit_tag "Share It", :class => 'trackbutton' %>
		<% end %>
		</div>
		<div style="width:100%">
			<table width="100%">
				<tr>
					<td>Update(s):
						<% if @lease.user_id == current_user.id %>You
						<% else %>
						<%= @lease.user.name %>
						<% end %>
						last updated it <%= time_ago_in_words(@lease.updated_at) %> ago
					</td>
				</tr>
				<% @leaseshares.each do |l| %>
				<% if l.sharedto != nil %>
					<tr>
						<td>
							<% if l.sharedfrom.id == current_user.id %>
							You 
							<% else %>
							<%= link_to l.sharedfrom.name, user_path(l.sharedfrom) %>
							<% end %> invited 
							<% if l.sharedto.id == current_user.id %> you
							<% else %>
							<%= link_to l.sharedto.name, user_path(l.sharedto) %>
							<% end %> to the party <%= time_ago_in_words(l.created_at) %> ago
						</td>
						<td style="text-align:right">
							<% if l.sharedfrom_id == current_user.id || @lease.user_id == current_user.id %>
							<%= link_to 'Remove their access', lease_share_path(l.id), :method => :delete, :confirm => "Are You Sure?" %>
							<% end %>
						</td>
					</tr>
				<% end %>
				<% end %>
			</table>
		</div>
	</div>

	<div class="bluebox">
		<%= render 'leases/pdf' %>
	</div>

	<% else %>

	<div class="bluebox">
	Oops.  Somehow we ended up here.  To look at this lease, you need to either have created it, or had it shared with you.  
	</div>

	<% end %>
</div>