  <header id="top">
    <table width="100%">
      <tr>
        <td>
          <%= yield :main_navigation %>
        </td>
        <% unless mobile_device? %>
          <td>
            <nav id="utility">
                <% if user_signed_in? %>
                  <%= current_user.email %> |
                  <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete', :class => 'top' %>
                <% else %>
                  <%= link_to "Sign Up", new_user_registration_path, :class => 'top' %> | <%= link_to "Sign In", new_user_session_path, :class => 'top' %> | <%= link_to "Sign In w/ Twitter", '/auth/twitter', :class => 'top' %>
                <% end %>
            </nav>
          </td>
        <% end %>
      </tr>
    </table>
  </header>
