<header id="header_container">

  <header id="top">
    <table width="100%">
      <tr>
        <td style="text-align:right">
          trackingspace: 
        </td>
        <td>
          <%= render 'buildings/form_new' %>
        </td>
        <td width="50%" style="text-align:right">
          <% unless mobile_device? %>
            <nav id="utility">
                <% if user_signed_in? %>
                  Signed in as <%= current_user.email %>. Not You?
                  <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
                <% else %>
                  <%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %> | <%= link_to "Sign In w/ Twitter", '/auth/twitter' %>
                <% end %>
            </nav>
          <% end %>
        </td>
      </tr>
    </table>
  </header>

  <header id="page_header">
     
     <%= yield :main_navigation %>

  </header>

</header>