<% content_for :main_navigation do %>

  <% unless mobile_device? %>
    <nav id="main_nav" role="navigation">
  <% end %>

  <% if mobile_device? %>
    <nav id="mobile_nav" role="navigation">
  <% end %>

      <ul>
        <%= nav_tab 'Home', home_path, current: current_tab %>
        <%= nav_tab 'Buildings', buildings_path, current: current_tab%>
        <%= nav_tab 'Spaces', user_leases_path, current: current_tab %>
        <%= nav_tab 'People', buildings_path, current: current_tab %>
        <% if user_signed_in? %>
        <%= nav_tab 'Profile', current_user, current: current_tab %></li>
        <% end %>
      </ul>
	</nav>

<% end %>