<% content_for :main_navigation do %>

    <% unless mobile_device? %>
    <nav id="main_nav" role="navigation">
      <ul>
        <%= link_to image_tag('logo_ts.png', :size => '25x25'), home_path %>
        <%= nav_tab 'Home', home_path, current: current_tab %>
        <%= nav_tab 'Buildings', buildings_main_path, current: current_tab%>
        <%= nav_tab 'People', people_main_path, current: current_tab %>
        <% unless user_signed_in? %>
          <%= nav_tab 'Login', new_user_session_path, current: current_tab %>
        <% end %>
        <% if user_signed_in? %>
          <%= nav_tab 'myStuff', current_user, current: current_tab %>
        <% end %>
      </ul>
     </nav>
    <% else %>
    <nav id="mobile_nav" role="navigation">
      <ul>
        <%= nav_tab 'Home', home_path, current: current_tab %>
        <%= nav_tab 'Buildings', buildings_main_path, current: current_tab%>
        <%= nav_tab 'People', people_main_path, current: current_tab %>
        <% unless user_signed_in? %>
          <%= nav_tab 'Login', new_user_session_path, current: current_tab %>
        <% end %>
        <% if user_signed_in? %>
          <%= nav_tab 'myStuff', current_user, current: current_tab %>
        <% end %>
      </ul>
	   </nav>
     <% end %>

<% end %>