<div class="sponsor" style="position:fixed;z-index:9999">
	<% unless mobile_device? %>
	<div style="float:left;width:400px">
	<% else %>
	<div style="float:left;width:80%;padding-left:40px;font-size:1.2em">
	<% end %>
		<% unless mobile_device? %>
		<div style="float:left;padding-right:20px">
			<%= link_to gravatar_image_tag(@sponsor.email, :gravatar => {:size => "65x65"}), user_path(@sponsor) %>
		</div>
		<% else %>
		<div style="float:left;padding-right:20px">
			<%= link_to gravatar_image_tag(@sponsor.email, :gravatar => {:size => "100x100"}), user_path(@sponsor) %>
		</div>
		<% end %>
		<div style="padding:5px">
			<div style="margin:-3px 0;font-size:.8em">Your Personal Expert:</div>
			<div style="font-family:'Syncopate';font-size:1.2em;margin:-3px 0">
				<%= @sponsor.name %>
			</div>
			<div>
				<%= @sponsor.phone %> |  <%= link_to @sponsor.email, @sponsor.email, :class => 'top' %>
			</div>
		</div>
	</div>
	<% unless mobile_device? %>
	<div style="right:0;float:left">
		<div style="margin-top:5px;border: 2px dashed #666666;border-radius:5px;padding:15px 30px;text-align:center">
			Your sponsor hasn't sent you a message yet - they will show up here
		</div>
	</div>
	<% end %>
</div>