<!DOCTYPE html>

<html>
<head>
  <meta charset='uta-8'>
  <title>Trackingspace - Keeping Track of Commercial Real Estate Options</title>
  <meta name="description" content="TrackingSpace allows businesses with commercial real estate leases store their lease(s) and track it with other buildings, spaces and people.">
  <meta name="keywords" content="commercial real estate,building for lease, space for rent, space for lease,commercial real estate leases,leasing space,available office space,office space,warehouse space,industrial space,commercial real estate brokerage,real estate brokerage,ring central,credit score">


  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    
    <script>
          $(function() {
            var addresspicker = $( "#addresspicker" ).addresspicker();
            var addresspickerMap = $( "#addresspicker_map" ).addresspicker({
              regionBias: "us",
              elements: {
                map:      "#map",
                lat:      "#lat",
                lng:      "#lng",
                street_number: "#street_number",
                route: "#route",
                country:  "#country",
                locality: "#locality",
                administrative_area_level_2: "#administrative_area_level_2",
                administrative_area_level_1: "#administrative_area_level_1",
                postal_code: "#postal_code"
              }
            });
            var gmarker = addresspickerMap.addresspicker( "marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker( "updatePosition");
          });

    </script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34365499-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
  <%= render 'layouts/header' %>

    <% flash.each do |name, msg| %>
      <% content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

  <div class="container">
    <section id="left">
      <div>
        <%= render 'layouts/allnewposts' %>
      </div>
      <div>
        <%= render 'layouts/allnewbuildings' %>
      </div>
      <div>
        <%= render 'layouts/allnewusers' %>
      </div>
      <%= yield :left %>
    </section>

      <section id="sidebar">
        <div style="border:1px solid #0198E1;padding:5px;margin-bottom:10px">
          <div style="margin:-15px 45px 0 45px;background:#ffffff;text-align:center;color:#0198E1">&copy 2013 Trackingspace</div>
          <div style="color:#000000;text-align:center;vertical-align:middle"><%= mail_to "dedkins@trackingspace.com", "Help", :subject => 'Need Help with TrackingSpace' %> | <%= link_to 'Privacy', privacy_path %> | 
            <%= link_to 'Broker Info', brokers_path %>
            <br/>
            <%= link_to image_tag("http://www.linkedin.com/img/webpromo/btn_profile_greytxt_80x15.png", :size => "80x15", :border => "0", :title => "View David Edkins's profile on LinkedIn"), "http://www.linkedin.com/in/davidaedkins", :target => '_blank' %></div>
        </div>

            <%= render 'users/leasewidget' %>

            <%= @region %>

            <div class="bluebox">
              <script type="text/javascript"><!--
                google_ad_client = "ca-pub-5451064655705220";
                /* First */
                google_ad_slot = "8276506850";
                google_ad_width = 250;
                google_ad_height = 250;
                //-->
              </script>
              <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
              </script>
            </div>

          <%= yield :sidebar %>
          
          <div class="bluebox">
            <script type="text/javascript"><!--
              google_ad_client = "ca-pub-5451064655705220";
              /* First */
              google_ad_slot = "8276506850";
              google_ad_width = 250;
              google_ad_height = 250;
              //-->
            </script>
            <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
            <script type="text/javascript"><!--
              google_ad_client = "ca-pub-5451064655705220";
              /* First */
              google_ad_slot = "8276506850";
              google_ad_width = 250;
              google_ad_height = 250;
              //-->
            </script>
            <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </div>
        
      </section>


    <section id="search">
      <%= yield :search %>
    </section>

    <section id="content">
        <%= yield %>
      </section>

  </div>    
</div>
 
  
<div class="clear"/>
</body>
</html>
