<!DOCTYPE html>
<html>
<head>
  <title>Trackingspace</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    
    <script type="text/javascript" src="/assets/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/assets/jquery-ui-1.8.7.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.ui.addresspicker.js"></script>
    <script>
        	$(function() {
        		var addresspicker = $( "#addresspicker" ).addresspicker();
        		var addresspickerMap = $( "#addresspicker_map" ).addresspicker({
        			regionBias: "fr",
        		  elements: {
        		    map:      "#map",
        		    lat:      "#lat",
        		    lng:      "#lng"
        		  }
        		});
        		var gmarker = addresspickerMap.addresspicker( "marker");
        		gmarker.setVisible(true);
        		addresspickerMap.addresspicker( "updatePosition");
        
        	});
  	</script>
	
</head>
<body>

<p class="notice"><%= notice %>
<p class="alert"><%= alert %>

<div id="container">
  <div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not You?
      <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>.
    <% end %>
  </div>
  
  <% flash.each do |name, msg| %>
    <% content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>
<%= yield %>
</body>
</html>
