<!DOCTYPE html>

<html>
<head>
  <meta charset='uta-8'>
  <title>Trackingspace - Keeping Track of Commercial Real Estate Options</title>
  <meta name="description" content="TrackingSpace allows businesses with commercial real estate leases store their lease(s) and track it with other buildings, spaces and people.">
  <meta name="keywords" content="commercial real estate,building for lease, space for rent, space for lease,commercial real estate leases,leasing space,available office space,office space,warehouse space,industrial space,commercial real estate brokerage,real estate brokerage,ring central,credit score">

  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <script>
          $(function() {
            var addresspicker = $( "#addresspicker" ).addresspicker();
            var addresspickerMap = $( "#addresspicker_map" ).addresspicker({
              regionBias: "fr",
              elements: {
                map:      "#map",
                lat:      "#lat",
                lng:      "#lng"
              }
            });
            var gmarker = addresspickerMap.addresspicker( "marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker( "updatePosition");
        
          });
    </script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34365499-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
  <%= render 'layouts/header' %>

    <% flash.each do |name, msg| %>
      <% content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

  <% if mobile_device? %>
    <div class="container_mobile">
      <div class="clear"/>
  <% else %>
    <div class="container">
  <% end %>
  <div class="content_container">
    
    <% unless mobile_device? %>
    <section id="left">
      <%= yield :left %>
        Test
    </section>
    <% end %>

    <% unless mobile_device? %>
      <section id="sidebar">
        <%= yield :sidebar %>
        <table>
        <tr>
          <td>
            <script type="text/javascript"><!--
              google_ad_client = "ca-pub-5451064655705220";
              /* Half Banner */
              google_ad_slot = "6705082897";
              google_ad_width = 250;
              google_ad_height = 250;
              //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </td>
        </tr>
        <tr>
          <td>
            <script type="text/javascript"><!--
              google_ad_client = "ca-pub-5451064655705220";
              /* First */
              google_ad_slot = "8276506850";
              google_ad_width = 250;
              google_ad_height = 250;
              //-->
            </script>
            <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </td>
        </tr>
      </table>

      <%= render 'layouts/footer' %>    
      </section>

    <% end %>

    <section id="content">
        <%= yield %>
      </section>
      
  </div>    

 
  
<div class="clear"/>
</body>
</html>
