<!DOCTYPE html>

<html>
<head>
  <meta charset='uta-8'>
  <title>Trackingspace - Keeping Track of Commercial Real Estate Options</title>
  <meta name="description" content="TrackingSpace allows businesses with commercial real estate leases store their lease(s) and track it with other buildings, spaces and people.">
  <meta name="keywords" content="commercial real estate,building for lease, space for rent, space for lease,commercial real estate leases,leasing space,available office space,office space,warehouse space,industrial space,commercial real estate brokerage,real estate brokerage,ring central,credit score">

  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= csrf_meta_tags %>
    
    <script>
          $(function() {
            var addresspicker = $( "#addresspicker" ).addresspicker();
            var addresspickerMap = $( "#addresspicker_map" ).addresspicker({
              regionBias: "fr",
              elements: {
                map:      "#map",
                lat:      "#lat",
                lng:      "#lng"
              }
            });
            var gmarker = addresspickerMap.addresspicker( "marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker( "updatePosition");
        
          });
    </script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34365499-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
  <%= render 'layouts/header' %>

    <% flash.each do |name, msg| %>
      <% content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

  
  <div class="container">
    
    <section id="left">
      <%= yield :left %>
    </section>

      <section id="sidebar">
        <%= yield :sidebar %>
        <% unless mobile_device? %>
          <%= render 'layouts/right_ads' %>
        <% end %>
        <hr/>
        <table width="100%">
          <tr>
            <td style="text-align:center;height:50px;background:#ffffff;vertical-align:middle;border:1px solid #888;box-shadow:2px 2px 2px #888">&copy 2012 Trackingspace <br/> <%= link_to 'Help', '' %> | <%= link_to 'Privacy', privacy_path %></td>
          </tr>
        </table>
      </section>


    <section id="search">
      <%= yield :search %>
    </section>

    <section id="content">
        <%= yield %>
      </section>

  </div>    
</div>
 
  
<div class="clear"/>
</body>
</html>
